/*** Application form
**************************************************************/

#sitecontent .content
{
	margin:0.5em;
}

/*** Form step navigation
************************************************/

.form-steps
{
	margin:0px;
	padding:0px;
}

.form-steps li
{
	list-style:none;
	display:block;
	float:left;
}

.form-steps li a,
.form-steps li span
{
	display:block;
	line-height:54px;
	position:relative;
	padding:0px 4px 0px 52px;
	text-decoration:none;
	color:#9f9f9f;
}

.form-steps li a
{
	color:#3e3e3e;
	font-weight:bold;
}

.form-steps li a:hover,
.form-steps li a.current
{
	color:#149dca;
}

.form-steps .index
{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	vertical-align:middle;
	width:54px;
	height:54px;
	line-height:54px;
	text-align:center;
	margin:0px 0px;
	padding:0px;
	font-size:24px;
	font-weight:bold;
	background-image:url('../img/form-steps-index-sprite_idle-hover-selected-active-disabled.png');
	background-repeat:no-repeat;
	background-position:right center;
}

.form-steps li a .index
{
	color:#3e3e3e;
	background-position:0px center;
}

.form-steps li a.current .index
{
	color:#149dca;
	background-position:-162px center;
}

.form-steps li a:hover .index,
.form-steps li a.current:hover .index
{
	color:#149dca;
	background-position:-54px center;
}

.form-steps li a:active .index,
.form-steps li a.current:active  .index
{
	color:#149dca;
	background-position:-108px center;
}



/*** Form generic
************************************************/

.form
{
	display:block;
	background-color:#ffffff;
	border:solid 4px #ffffff;
	margin:0.5em;
	padding:1.538em;
	box-shadow:0px 0px 1px 0px #c4c4c4, inset 0px 0px 1px 0px #c4c4c4;
	border-radius:6px;
}

small
{
	color:#8d8d8d;
}

input, input:focus,
select, select:focus, select:active
{
	outline:none;
}





.form-summary-table td
{
	vertical-align:top;
}

.form-summary-table .label
{
	color:#000000;
	font-weight:bold;
	text-align:right;
	padding-right:1em;
	line-height:inherit;
}

.form-summary-table .sublabel
{
	color:#000000;
	text-align:right;
	padding-right:1em;
}


.form-summary-table .extra
{
	padding-left:1em;
}



.application-number
{
	font-size:1.154em;
	color:#000000;
}

.application-number .number
{
	color:#149dca;
}





/*** Acceptance preference table
************************************************/


.preference-sort tbody tr td
{
	border:solid 1px #e1e1e1;
	border-top-color:#ececec;
	border-bottom-color:#c2c2c2;
	vertical-align:top;
	padding:2em 1.5em;
	background-color:#ffffff;
}

.preference-sort tbody tr:nth-child(odd) td
{
	background-color:#f9fbfc;
}

.preference-sort button.reset
{
	float:right;
	
}

.preference-sort .index
{
	text-align:center;
}

.preference-sort .index .up span,
.preference-sort .index .down span
{
	border:solid 16px #000000;
	width:0px;
	height:0px;
	border-left-color:transparent;
	border-right-color:transparent;
	background-color:transparent;
	padding:0px;
	margin:2px;
	position:relative;
	background-image:none;
}

.preference-sort .index .up span{	border-top-width:0px;}
.preference-sort .index .down span{border-bottom-width:0px;}

.preference-sort .index .up span span,
.preference-sort .index .down span span
{
	border:solid 15px #feba00;
	width:0px;
	height:0px;
	overflow:hidden;
	border-left-color:transparent;
	border-right-color:transparent;
	background-color:transparent;
	padding:0px;
	margin:0px;
	position:absolute;
	left:-15px;
}

.preference-sort .index .up span span{border-top-width:0px;bottom:-16px;}
.preference-sort .index .down span span{border-bottom-width:0px;top:-15px;}

.preference-sort .index .up:hover span span{border-top-width:0px;bottom:-15px;}
.preference-sort .index .down:hover span span{border-bottom-width:0px;top:-16px;}

.preference-sort .index .up:active span span,
.preference-sort .index .up:focus span span
{
	left:-14px;
	bottom:-16px;
	border-width:14px;
	border-top-width:0px;
}

.preference-sort .index .down:active span span,
.preference-sort .index .down:focus span span
{
	left:-14px;
	top:-14px;
	border-width:14px;
	border-bottom-width:0px;
}


.preference-sort .index .label
{
	text-transform:uppercase;
}

.preference-sort .preference-fields
{
	margin-right:1.5em;
	float:left;
}

.preference-sort .preference-fields .form-row
{
	margin: 1em 100px 0px 0px;
}

.preference-sort .preference-fields .form-row:first-child
{
	margin-top: 0px;
}

.preference-sort .preference-fields .form-row-label
{
	width:83px;
	float:left;
}

.preference-sort .preference-fields .form-row-content
{
	margin-left:100px;
	float:none;
	width:100%;
}


/*** Grades table
************************************************/

.applicant-grades thead tr th,
.applicant-grades thead tr td,
.applicant-grades tbody tr td
{
	border:solid 1px #e1e1e1;
	border-top-color:#ececec;
	border-bottom-color:#c2c2c2;
	vertical-align:top;
	padding:0.5em 1.5em;
	line-height:2em;
	background-color:#ffffff;
}

.applicant-grades thead tr th
{
	background-color:#dde9f0;
	background-image:url('../img/texture-angled-lines.gif');
	background-repeat:repeat;
	background-position:top left;
	font-size:1.385em;
	line-height:1.5em;
	text-shadow:0px 1px 1px #ffffff;
}

.applicant-grades thead tr td
{
	background-color:#e3eef3;
	text-transform:uppercase;
}


.applicant-grades tbody tr:nth-child(even) td
{
	background-color:#f3f7f9;
}
