
/*** common notelist-page styles
************************************************/
.notelist-header {
    background-image: url('../img/muistilista_ikoni.png');
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 52px;
}


.notelist-header h1 {
    display: inline-block;
    vertical-align: bottom;    
    padding-left: 55px;
    letter-spacing: -0.5px;
}

.action-select {
    margin-left: 1em;
    line-height: 40px;
    padding: 0px 0.923em 0 0px;
}

button.arrow-down-blue > span > span {
    padding-right: 37px;
}

button.arrow-down-blue > span > span {
    background-image: url('../img/button-arrow-down-blue-sprite_idle-hover-selected-disabled.png') !important;
    background-repeat: no-repeat;
    background-position: top -112px;
    
}

.table-highlight td {
    background-color: #e4f2f7 !important;
}

.content-tools {
    margin-bottom: 2em;
}

.content-tools button{
    padding-bottom: 1em;
}

.content-tools input[type=text] {
    width: 300px;
    margin-left: 1em;
}

/*** notelist-table
************************************************/

.notelist-table
{
    background-color:#ececec;
    position:relative;
    overflow:hidden;
    border-radius: 5px;
    margin-bottom: 2em;
}

.notelist-table .table-container
{
    margin-right:-4px;
    position:relative;
}

.notelist-table table
{
    width:100%;
    border-spacing:2px 0px;
    margin:0px -10px 0px 0px;
    border:none;
    position:relative;
    left:-2px;
}

.notelist-table thead tr th,
.notelist-table thead tr td,
.notelist-table tbody tr td
{
    border:none;
    vertical-align: middle;
    padding:0.5em 1.5em;
    line-height:1.5em;
    background-color: #fff;
}

.notelist-table thead tr td {
    background-color: #ebebeb;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}

.notelist-table tbody tr.selected td {
    background-color: #e5f3f8;
}

.notelist-table thead tr th
{
    background-color:#ececec;
    background-image:url('../img/texture-angled-lines.gif');
    background-repeat:repeat;
    background-position:top left;
    font-size:1.385em;
    line-height:1.5em;
    text-shadow:0px 1px 1px #ffffff;
    color: #149DCA;
    text-align: left;
}

.notelist-table table:first-of-type thead tr th {
    border-radius: 5px 5px 0px 0px;
}

.notelist-table thead tr th:first-child
{
    box-shadow:inset 8px 0px 4px -8px #a9a9a9, inset 0px 8px 4px -8px #a9a9a9, inset -8px 0px 4px -8px #a9a9a9;
}

.notelist-table thead tr td
{
    background-color:#dcdcdc;
    text-transform:uppercase;
}

.notelist-table thead tr td.sortable {
    background-image: url('../img/arrow-sorting.png');
    background-position: 97% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.notelist-table thead tr td.sort-ascending {
    background-image: url('../img/arrow-up.png');
    background-position: 97% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.notelist-table thead tr td.sort-descending {
    background-image: url('../img/arrow-down.png');
    background-position: 97% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.notelist-table thead tr td:first-child,
.notelist-table tbody tr td:first-child
{
    box-shadow:inset 8px 0px 4px -8px #a9a9a9;
}

.notelist-table thead tr td:last-child,
.notelist-table tbody tr td:last-child
{
    box-shadow:inset -8px 0px 4px -8px #a9a9a9;
}

.notelist-table table tfoot tr td {
    box-shadow: inset 8px 0 4px -8px #a9a9a9, inset -8px 0 4px -8px #a9a9a9;
}

.notelist-table table:last-child tfoot tr td {
    box-shadow: inset 8px 0px 4px -8px #a9a9a9, inset -8px 0px 4px -8px #a9a9a9, inset 0 -8px 4px -8px #a9a9a9;
}

.notelist-table tfoot tr td
{
    border:none;
    vertical-align:top;
    padding:0.5em 1.5em;
    background-color:#ececec;
    border-top: 1px solid #c8c8c8;
}

.notelist-table table:last-of-type tfoot tr td {
    border-radius: 0 0 5px 5px;
}

.notelist-table tfoot small {
    font-style: italic;
    display: block;
}

.notelist-table tfoot .sidenotes {
    margin-bottom: 10px;
}

.notelist-table tbody tr td.clear-column,
.notelist-table thead tr td.clear-column {
    background: #fff;
    text-align: center;
}

.notelist-table tbody tr td .field-container-checkbox label {
    line-height: 1.5em;
}

.notelist-table .notelist-footer-tools {
    margin-left: 2em;
    max-width: 200px;
}
