/*** Breadcrumb
**************************************************************/
#breadcrumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

#breadcrumb ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#breadcrumb .home {
    padding-left: 0;
}

#breadcrumb a {
    display: block;
    text-decoration: none;
}

#breadcrumb .current a {
    color: #3e3e3e;
}

#breadcrumb .home a {
    background: transparent url('../img/breadcrumb-home.png') no-repeat left center;
    width: 19px;
    height: 17px;
    display: block;
}

#breadcrumb .breadcrumb-item {
    padding-left: 25px; 
    background: transparent url('../img/breadcrumb-arrow.png') no-repeat left center;
}

#breadcrumb .breadcrumb-item a:hover,
#breadcrumb .breadcrumb-item a:active {
    text-shadow: 0 0 3px #ccc;
}

#breadcrumb li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}



/*** Siteheader
**************************************************************/

#siteheader
{

}

#siteheader .line
{
    width:100%;
    height:5px;
    background-color:#3cafd4;
    
    box-shadow: inset 0px 2px 2px -2px #006285;
    
}

#siteheader .sitelogo
{
    float:left;
}

#siteheader .actions
{
    float:right;
    padding:0px 2em 0px;
}

#siteheader .actions ul
{
    display:inline-block;
    vertical-align:bottom;
    margin:0px;

}

#siteheader .actions ul li
{
    
    list-style:none;
}

#siteheader .actions ul li a
{
    color:#010101;
    text-decoration:none;
}

#siteheader .actions ul li a:hover
{

}


/*** Navigation
**************************************************************/

.navigation
{
    display:inline-block;
    background-color:#149ecb;
    border:solid 4px #ffffff;
    margin:0.5em 0px;
    height:3.077em;
    box-shadow:0px 0px 1px 0px #c4c4c4;
    border-radius:6px;
}

.subnavigation
{

}

.menu-level-1
{
    margin:0px;
    padding:0px;
}

.menu-level-1 li
{
    list-style:none;
    display:inline-block;
}

.menu-level-1 li a
{
    display:block;
    height:3.077em;
    line-height:3.077em;
    padding:0px 1em;
    color:#ffffff;
    text-decoration:none;
}

.menu-level-1 li a:hover
{

}

.menu-level-1 li.current a
{

}

.menu-level-1 li.home a
{
    display:block;
    height:3.077em;
    width:3.077em;
    line-height:3.077em;
    padding:0px;
    color:transparent;
}

.menu-level-2-heading
{
	display:block;
    height: 2em;
	line-height:2em;
	padding:0px 0.722em;
	margin-bottom:0.3em;
	font-size:1.385em;
	color:#0a88b1;
	background: url("../img/texture-angled-lines.gif") repeat scroll left top transparent;
	box-shadow:inset 0px 0px 2px 0px #c4c4c4;
	background-color:#f9f9f9;
}

.menu-level-2
{
    margin:0px;
    padding:0px;
}

.menu-level-2 li
{
    list-style:none;
    display:block;
}

.menu-level-2 li a
{
    display:block;
    height:3.077em;
    line-height:3.077em;
    padding:0px 1em;
    text-decoration:none;
	border-bottom:solid 1px #bfe4f1;
	color:#3e3e3e;
}

.menu-level-2 li a:hover
{
	background-color:#bfe4f1;
	color:#000000;

}

.menu-level-2 li.current a
{
	font-weight:bold;
	background-color:#ebf3f7;
	color:#000000;
	margin-top:-1px;
	border-top:solid 1px #ebf3f7;
	border-bottom-color:#ebf3f7;
}

