/**************************
 DEFAULT VARIABLES
/**************************/
/**************************
 MIXIN
/**************************/
/**************************
 ELEMENT SPACING
/**************************/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0.5em; }

p {
  margin-top: 0; }

span.mandatory-field {
  padding-left: 5px; }

/**************************
 LAYOUT
/**************************/
#wrapper {
  min-width: 960px;
  margin: 0 auto; }

#main-navigation {
  height: 30px;
  width: 100%;
  background: #eee; }

#content-area {
  margin-top: 20px;
  overflow: hidden; }

.column-content {
  padding: 10px;
  border: 1px solid #cccccc; }

footer {
  margin-top: 20px;
  background: #eee;
  border: 1px solid #cccccc; }

.grid16-1 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 5%; }

.grid16-2 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 11.25%; }

.grid16-3 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 17.5%; }

.grid16-4 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 23.75%; }

.grid16-5 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 30%; }

.grid16-6 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 36.25%; }

.grid16-7 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 42.5%; }

.grid16-8 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 48.75%; }

.grid16-9 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 55%; }

.grid16-10 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 61.25%; }

.grid16-11 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 67.5%; }

.grid16-12 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 73.75%; }

.grid16-13 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 80%; }

.grid16-14 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 86.25%; }

.grid16-15 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 92.5%; }

.grid16-16 {
  float: left;
  margin-right: 0.625%;
  margin-left: 0.625%;
  width: 98.75%; }

.clear {
  clear: both; }

/**************************
 PAGE-NAVIGATION
/**************************/
#page-navigation h3 {
  margin: 0;
  padding: 1em 0; }
#page-navigation .page-navigation-header {
  background: #eee; }
#page-navigation .page-navigation-content ul {
  padding-left: 0;
  list-style-type: none;
  clear: both; }
  #page-navigation .page-navigation-content ul li {
    float: left; }

/**************************
APPLICATION CONTENT
/**************************/
.application-navigation {
  border: 1px solid #cccccc;
  background: #eee; }
  .application-navigation ul {
    list-style-type: none;
    clear: both; }
    .application-navigation ul li {
      float: left; }
  .application-navigation li {
    margin-right: 10px; }

.application-content {
  margin-top: 20px; }
  .application-content ul.inputs {
    list-style-type: none;
    padding-left: 0; }
    .application-content ul.inputs li.inputfield {
      margin-bottom: 10px; }
      .application-content ul.inputs li.inputfield label.field-description {
        display: inline-block;
        width: 150px;
        padding-right: 30px;
        text-align: right; }
      .application-content ul.inputs li.inputfield input {
        display: inline; }

/**************************
 TYPOGRAPHY
/**************************/
body {
  font: 62.5%; }

a {
  text-decoration: none;
  color: #00f; }
  a.disabled {
    color: #888; }
  a:hover {
    text-decoration: underline; }
  a:active {
    text-decoration: underline; }
  a:visited {
    text-decoration: underline; }

strong {
  font-size: 1.3em;
  font-weight: bold; }

.application-content .hint {
  color: #888; }

span.mandatory-field {
  color: red; }
