
/*** Table
************************************************/

.virkailija table td
{
    vertical-align:top;
}

.virkailija .table-container
{
    border-radius:3px;
    overflow:hidden;
    display:inline-block;
}

.virkailija .table-container table
{
    border-radius:3px;
    margin:0px;
    border:solid 1px #E3E3E3;
    border-collapse:collapse;
}

.virkailija .table-container thead
{
    background: url("table-header-bg.png") repeat scroll 0 0 transparent;
}

.virkailija .table-container thead td
{
    padding:0px 10px;
    height:38px;
}

.virkailija .table-container tbody tr.odd
{
    background-color:#FFFFFF;
}

.virkailija .table-container tbody tr.even
{
    background-color:#E6EBED;
}

.virkailija .table-container tbody td
{
    border:solid 1px #E3E3E3;
    padding:0px 10px;
    height:28px;
}

.virkailija .structural
{
    width:100%;
    border:none;
    margin:0px;
    border-spacing:0px;
}

.virkailija .structural,
.virkailija .structural tbody,
.virkailija .structural td
{
    padding:0px;
}




/*** Buttons
*************************************/

.virkailija a.button
{
    text-decoration:none;
    color:#000000;
    text-shadow: 0 1px rgba(255, 255, 255, 0.35);
}


.virkailija .button
{
    height:36px;
    line-height:36px;
    padding:0px 13px;
    display:inline-block;
    border-radius:3px;
    border:solid 1px #ababab;
    background-color:#c8c8c8;
    box-shadow: 0 1px 1px #f1ecdd inset, 0 -1px 4px rgba(255, 255, 255, 0.05) inset;
    cursor:pointer;
    vertical-align:middle;
    margin-bottom:5px;
}

.virkailija .button:hover
{
    border-color:#9d9d9d;
    background-color:#9d9d9d;
    box-shadow: 0 1px 1px #e6e1d2 inset, 0 -1px 4px rgba(255, 255, 255, 0.05) inset;
}

.virkailija .button:focus,
.virkailija .button:active
{
    border-color:#7c7c7c;
    background-color:#949494;
    box-shadow: 0 3px 6px #5f5f5f inset, 0 -1px 4px rgba(0, 0, 0, 0.05) inset;
}

.virkailija .button.small
{
    height:22px;
    line-height:22px;
    padding:0px 9px;
}

.virkailija .button.primary,
.virkailija .button.expand,
.virkailija .button.collapse,
.virkailija .button.up,
.virkailija .button.back
{   
    border-color:#dea300;
    background-color:#feba00;
    box-shadow: 0 1px 1px #fde091 inset, 0 -1px 4px rgba(255, 255, 255, 0.05) inset;
}

.virkailija .button.primary:hover,
.virkailija .button.expand:hover,
.virkailija .button.collapse:hover,
.virkailija .button.up:hover,
.virkailija .button.back:hover
{
    border-color:#c69100;
    background-color:#e99f00;
    box-shadow: 0 1px 1px #f8d991 inset, 0 -1px 4px rgba(255, 255, 255, 0.05) inset;
}

.virkailija .button.primary:focus,
.virkailija .button.primary:active,
.virkailija .button.expand:focus,
.virkailija .button.expand:active,
.virkailija .button.collapse:focus,
.virkailija .button.collapse:active,
.virkailija .button.up:focus,
.virkailija .button.up:active,
.virkailija .button.back:focus,
.virkailija .button.back:active
{
    border-color:#dd8b17;
    background-color:#e39000;
    box-shadow: 0 3px 6px #aa6a01 inset, 0 -1px 4px rgba(0, 0, 0, 0.05) inset;
}



.virkailija .button.expand,
.virkailija .button.collapse,
.virkailija .button.up,
.virkailija .button.back
{
    background-position:center center;
    background-repeat:no-repeat;
    width:30px;
    height:28px;
    padding:0px;
    vertical-align:middle;
}

.virkailija .button.expand,
.virkailija .button.collapse
{
    position:relative;
}

.virkailija .button.expand.small,
.virkailija .button.collapse.small
{
    width:22px;
    height:22px;
}

.virkailija .button.back.small
{
    height:22px;
    line-height:22px;
    padding:0px 9px;
}

.virkailija .button.expand span,
.virkailija .button.collapse span
{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    font-size:36px;
    line-height:28px;
    text-align:center;
}

.virkailija .button.expand.small span,
.virkailija .button.collapse.small span
{
    font-size:25px;
    line-height:22px;
}


.virkailija .button.up span,
.virkailija .button.back span
{
    display:none;
    background-position:center center;
    background-repeat:no-repeat;
}



.virkailija .button.expand
{
    background-image:url(button-icon-expand.png);
}

.virkailija .button.collapse
{
    background-image:url(button-icon-collapse.png);
}

.virkailija .button.up
{
    background-image:url(button-icon-up.png);
}

.virkailija .button.back
{
    background-image:url(button-icon-back.png);
}



.virkailija .button.disabled,
.virkailija .button.primary.disabled
{
    color:rgba(0, 0, 0, 0.5);
    border-color:#d5d5d5;
    background-color:#e3e3e3;
    box-shadow: 0 1px 1px #f8f6ee inset, 0 -1px 4px rgba(255, 255, 255, 0.05) inset;
    cursor:default;
}

.virkailija button.button,
.virkailija input.button
{
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;

}


.virkailija .button.blueplus
{
    line-height:24px;
    width:24px;
    height:24px;
    border:none;
    padding:0px;
    margin:0px 0px 5px 0px;
    display:inline-block;
    background:none;
    background-image:url(button-blueplus-sprite.png);
    background-repeat:no-repeat;
    background-position:left center;
    vertical-align:middle;
    box-shadow:none;
}

.virkailija .button.blueplus:hover
{
    background-position:right center;
}


.virkailija .button.blueplus:focus,
.virkailija .button.blueplus:active
{
    background-position:center center;
}

.virkailija .button.blueplus span
{
    display:none;
}


/*** Datepicker
*************************************/


.virkailija .datepicker
{
    display:inline-block;
    vertical-align:middle;
    width:34px;
    height:37px;
    line-height:37px;
    background-image:url(datepicker-icon-sprite.png);
    background-position:left center;
    background-repeat:no-repeat;
    position:relative;
    margin:0px 0px 0px 5px;
}

.virkailija .datepicker:hover
{
    background-position:right center;
}


.virkailija .datepicker.active
{
    background-position:center center;
}

.virkailija .datepicker.small
{
    width:22px;
    height:24px;
    line-height:24px;
    background-image:url(datepicker-icon-sprite-small.png);
    margin-bottom:5px;
}


/*** Input text
*************************************/

.virkailija-theme input.text
{
    background-color: #EEEEEE;
    background-image: none;
    border: 1px solid rgba(255, 255, 255, 0.75) !important;
    box-shadow: 0 1px 1px #B5B5B5 inset, 0 -1px 4px rgba(0, 0, 0, 0.05) inset;
    color: #676767;
    padding: 0px 0px 0px 10px;
    border-radius: 4px 4px 4px 4px;
    font-size: 13px;
    height: 35px;
    width:188px;
    margin:0px 0px 5px 0px;
    vertical-align:middle;
}

.virkailija-theme input.text.small
{
    height:24px;
    line-height:24px;
}

.virkailija-theme input.text:focus
{
    background-color:#fff5da;
}

.virkailija-theme input.text.disabled
{
    background-color: #FAFAFA;
    background-image: url("disabled-bg.gif");
    background-repeat: repeat;
    color: #C2C2C2;
    opacity: 1;
}

.virkailija-theme input.search
{
    background-image: url("search.png");
    background-position: 4px 2px;
    background-repeat: no-repeat;
    font-size: 12px;
    height:24px;
    line-height:24px;
    width:118px;
    padding-left: 30px;
}

.virkailija-theme input.text.date,
.virkailija-theme input.text.time
{
    width:100px;
}

.virkailija-theme input.text.blurred
{
    color:#9b9b9b;
}


/*** Select
*************************************/

.virkailija select
{
    vertical-align:middle;
    background-color: #EEEEEE;
    background-image: none;
    border: 1px solid rgba(255, 255, 255, 0.75) !important;
    box-shadow: 0 1px 1px #B5B5B5 inset, 0 -1px 4px rgba(0, 0, 0, 0.05) inset;
    color: #676767;
    padding: 2px 0px 2px 10px;
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin:0px 0px 5px 0px;
}

.virkailija select:focus
{
    background-color:#fff5da;
}

.virkailija select option
{
    border:none;
    background: none repeat scroll 0 0 #F8F8F9;
}

.virkailija select option:hover
{
    border:none;
    background: none repeat scroll 0 0 #F8F8F9;
    text-shadow: 0 1px 0 #3B5A7A;
}


.virkailija .select-container
{

}

.virkailija .select-container select
{
    width:100%;
}



/*** Textarea
*************************************/

.virkailija textarea
{
    border: 1px solid #AAAAAA;
    margin:0px 0px 5px 0px;
}

.virkailija textarea.disabled
{
    background-color: #FAFAFA;
    background-image: url("disabled-bg.gif");
    background-repeat: repeat;
    color: #C2C2C2;
    opacity: 1;
}


/*** Simulated checkbox
*************************************/

.virkailija .sim-checkbox
{
    display:inline-block;
    vertical-align:middle;
    width:24px;
    height:24px;
    overflow:hidden;
    background-image:url(sim-checkbox-sprite.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;
}

.virkailija .sim-checkbox.selected
{
    background-position:center right;
}

.virkailija .sim-checkbox.partail
{
    background-position:center center;
}


/*** Misc
************************************************/

.virkailija .infonotice
{
    background-color:#fef3d3;
    border:none;
    border-radius: 3px 3px 3px 3px;
    padding:0.7em 1em;
    margin:0.5em;
    box-shadow: 1px 1px 2px 0 #5f5f5f;
}


.virkailija .containerbox
{
    margin:18px;
    border: 1px solid #E8E8E8;
    border-radius: 3px 3px 3px 3px;
    background-color:#ffffff;
}

.virkailija .containerbox.lightblue
{
    background-color:#F1F6F7;
}

.virkailija .containerbox.lightgrey
{
    background-color:#eeeeee;
}

.virkailija .fillbox
{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

hr
{
    border:none;
    height:1px;
    width:100%;
    margin:1em 0px;
    background-color:#bbe7f5;
}

.virkailija .float-left
{
    float:left;
}

.virkailija .float-right
{
    float:right;
}

.virkailija .clear
{
    clear:both;
}

.virkailija a {
    color: #0c566e;
}


/*** Structure
**************************************************************/

#viewport
{
    position:relative;
}

#wrapper
{
    width:960px;
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #DCDCDC;
    border-top-width: 0;
    margin: 0 auto;
    padding: 0 0 10px;
}

.virkailija #siteheader
{
    background: url("../img/navigation-divider.jpg") repeat-x scroll left bottom #F8F8F8;
    padding: 10px 0;
    height:38px;
    position:relative;
}


.virkailija .primarylinks
{
    font-size:15px;
    position:absolute;
    bottom:18px;
    left:18px;
}
.virkailija .secondarylinks
{
    font-size:13px;
    position:absolute;
    bottom:18px;
    right:18px;
}

.virkailija .primarylinks a,
.virkailija .secondarylinks a
{
    color:#000000;
    text-decoration:none;
}

.virkailija .primarylinks a:hover,
.virkailija .secondarylinks a:hover
{
    text-decoration:underline;
}


.virkailija #footer
{

    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    margin: 0 0.625%;

}

.virkailija #footer .footer-container
{
    background: none repeat scroll 0 0 #DCDCDC;
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    margin: 0.625%;
    padding: 10px 0;
}


/*** Overlay & Popup
**************************************************************/

#overlay
{
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:1000;
}

#overlay > a.close
{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

#popup
{
    margin:0px auto;
    background:#ffffff;
    width:50%;
    height:350px;
    position:relative;
    padding:10px;
    
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 2px 0 #5f5f5f;
    background-color:#f9f9f9;
}

#popup .close
{
    display:block;
    position:absolute;
    top:5px;
    right:5px;
    width:16px;
    height:17px;

    
    background-image:url(popup-close-icon.png);
    background-repeat:no-repeat;
    background-position:center center;
    cursor:pointer;
}

#popup .popup-content
{
    display:inline-block;
}


/*** Sidebar
**************************************************************/

.virkailija #sidebar
{
    position:relative;
    width:100%;
    height:100%;
    padding:0px 0px 0px 0px;
    min-height:700px;
    width:32px;
}

.virkailija #sidebar.expand
{
    width:202px;
    padding:0px 32px 0px 0px;
}

.virkailija #sidebar .expander
{
    position:absolute;
    top:0px;
    right:1px;
    display:block;
    border:solid 1px #e4e4e4;
    background-color:#f1f6f7;
    width:22px;
    padding:0px 0px 0px 8px;
    height:100%;
    cursor:pointer;
    text-decoration:none;
}

.virkailija #sidebar .expander .arrows
{
    font-size:9px;
    margin:0px 0px 0px 2px;
}

.virkailija #sidebar .expander .label
{
    position:relative;
    display:block;
    width:22px;
    height:150px;
}

.virkailija #sidebar .expander .label .rotate
{
    position:relative;
    top:150px;
    left:0px;
    text-align:center;
    width:150px;
    height:22px;
    display:block;
    
    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    -o-transform-origin:      0 0;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.virkailija #sidebar .expander .label .nonrotate
{
    display:none;
}

.ie7 .virkailija #sidebar .expander .label .rotate,
.ie8 .virkailija #sidebar .expander .label .rotate,
.ie9 .virkailija #sidebar .expander .label .rotate
{
    display:none;
}

.ie7 .virkailija #sidebar .expander .label .nonrotate,
.ie8 .virkailija #sidebar .expander .label .nonrotate,
.ie9 .virkailija #sidebar .expander .label .nonrotate
{
    display:block;
    padding:5px 0px;
}

.ie7 .virkailija #sidebar .expander .label,
.ie8 .virkailija #sidebar .expander .label,
.ie9 .virkailija #sidebar .expander .label
{
    height:280px;
}

.virkailija #sidebar .expanded-content
{
    display:none;
    position:absolute;
    width:200px;
    border:solid 1px #e4e4e4;
    border-right-width:0px;
    background-color:#f1f6f7;
    padding:0px 0px 0px 0px;
    height:100%;
}


.virkailija #sidebar.expand .expanded-content
{
    display:block;
}

/*** Grid
************************************************/

.virkailija footer .footer-logo {
    margin: 0 auto;
}

.virkailija .grid-container
{
    padding:0px 10%;
}


/*** Header
**************************************************************/

.virkailija #header
{
    margin: 0 0.625%;
    padding:15px 0px 10px 0px;
    overflow: hidden;
}



/*** Navigation
************************************************/
/*
.virkailija #navigation {
    margin-bottom: 3em;
}
*/

.virkailija ul.level1
{
    margin:0px;
    padding:0px;
}

.virkailija ul.level1 li
{
    float:left;
    list-style:none;
    position:relative;
}

.virkailija ul.level1 li a
{
    display:block;
    border: 4px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 2px 0 #A2A2A2;
    margin-right: 5px;
    position: relative;
    font-weight:bold;
    text-decoration:none;
}

.virkailija ul.level1 li a span
{
    display:block;
    padding:3px 20px;
    border-radius: 3px 3px 3px 3px;
    background-color:#149ecb;
    color:#ffffff;
}

.virkailija ul.level1 li a:hover span
{
    background-color:#0f7a9d;
}

.virkailija ul.level1 li a.current span
{
    background-color:#2b4561;
}

.virkailija ul.level2
{
    display:none;
    position:absolute;
    top:30px;
    margin:0px;
    
    background:#DFF5FC;
    background: -moz-linear-gradient(center top , #DFF5FC, #EBFAFF) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 2px 1px #A2A2A2;
    overflow: hidden;
    padding: 20px 0;
    width: 250px;
    z-index: 10;
}

.virkailija ul.level2 li
{
    float:none;
    padding: 0px 0px 5px 0px;
}

.virkailija ul.level2 li a
{
    line-height:16px;
    border:none;
    padding:0px 20px;
    margin:0px;
    color: #0C566E;
    text-decoration: none;
    box-shadow:none;
}

.virkailija ul.level2 li a:hover,
.virkailija ul.level2 li a.current
{
    background-color:#feedbd;
}






/*** Page content
**************************************************************/

/*** Search form, search filtering
************************************************/

.virkailija #searchform
{
    margin:0px 0px 2em 0px;
}

.virkailija #searchform table
{
    width:100%;
}

/*** Foldertree
************************************************/

.virkailija ul.foldertree
{

}

.virkailija ul.foldertree li
{
    list-style:none;
    position:relative;
    margin:7px 0px;
}

.virkailija ul.foldertree li ul
{

}

.virkailija ul.foldertree li.closed ul
{
    display:none;
}

.virkailija ul.foldertree li .folder
{
    position:absolute;
    top:0px;
    left:-23px;
    display:inline-block;
    width:17px;
    height:14px;
    background-image:url(foldertree-icon-sprite.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;
}

.virkailija ul.foldertree li.closed .folder
{
    background-position:center right;
}

.virkailija ul.foldertree li .file
{
    position:absolute;
    top:0px;
    left:-23px;
    display:inline-block;
    width:12px;
    height:14px;
    background-image:url(foldertree-icon-sprite.png);
    background-repeat:no-repeat;
    background-position:center center;
}


/*** Itemtree
************************************************/

.virkailija ul.itemtree
{
    list-style-type:none;
}


.virkailija ul.itemtree li
{
    position:relative;
    margin:0.3em 0px;
}

.virkailija ul.itemtree li .label
{
    display:inline-block;
    line-height:24px;
    height:24px;
    vertical-align:middle;
}

.virkailija ul.itemtree li span.label
{
    font-weight:bold;
    color:#000000;
}

.virkailija ul.itemtree li .sim-checkbox
{
    display:inline-block;
    vertical-align:middle;
}

.virkailija ul.itemtree li .actionmenu-icon
{
    display:inline-block;
    vertical-align:middle;
}

.virkailija ul.itemtree ul
{
    list-style-type:none;
    padding:0px 0px 0px 24px;
}

.virkailija ul.itemtree li.collapsed ul
{
    display:none;
}

.virkailija ul.itemtree ul li
{

}





/*** Action menu
************************************************/


.virkailija ul.actionmenu,
.virkailija ul.itemtree ul.actionmenu
{
    display:block;
    margin:0px;
    background:#DFF5FC;
    background: -moz-linear-gradient(center top , #DFF5FC, #EBFAFF) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 2px 1px #A2A2A2;
    overflow: hidden;
    padding: 5px 0;
    width:180px;
    z-index: 10;
}


.virkailija ul.actionmenu li,
.virkailija ul.itemtree ul.actionmenu li
{
    float:none;
    padding: 0px 0px 5px 0px;
}


.virkailija ul.actionmenu li a,
.virkailija ul.itemtree ul.actionmenu li a
{
    display:block;
    line-height:16px;
    border:none;
    padding:0px 20px;
    margin:0px;
    color: #0C566E;
    text-decoration: none;
    box-shadow:none;
}


.virkailija ul.actionmenu li a:hover,
.virkailija ul.actionmenu li a.current,
.virkailija ul.itemtree ul.actionmenu li a:hover,
.virkailija ul.itemtree ul.actionmenu li a.current
{
    background-color:#feedbd;
}

.virkailija .actionmenu-icon
{
    position:relative;
    display:inline-block;
    vertical-align:bottom;
    width:25px;
    height:25px;
    background-image:url(actionmenu-icon-sprite.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;
}

.virkailija .actionmenu-icon.hover,
.virkailija .actionmenu-icon.open
{
    background-position:center right;
}

.virkailija .actionmenu-icon .actionmenu
{
    position:absolute;
    left:0px;
    top:25px;
}



/*** Form - Custom styles
************************************************/



.virkailija .table-field-label
{
    display:block;
    padding-top:8px;
}

.virkailija .table-field-label.small
{
    padding-top:3px;
}

.virkailija .form-label-cell
{
    width:195px;
    padding:5px 0px;
    padding-right:1em;
    text-align:right;
}

.virkailija .form-field-cell
{
    width:385px;
    padding:5px 0px;
}

.virkailija .field-text-containerbox
{
    padding:0px 12px 0px 0px;
}

.virkailija .field-text-containerbox input.text
{
    width:100%;
}

.virkailija .field-search-containerbox
{
    padding:0px 32px 0px 0px;
}

.virkailija .field-search-containerbox input.text
{
    width:100%;
}


.virkailija .field-select-containerbox
{
    padding:0px 0px 0px 0px;
}

.virkailija .field-select-containerbox select
{
    width:100%;
}


.virkailija .field-textarea-containerbox
{
    padding:0px 2px 0px 0px;
}

.virkailija .field-textarea-containerbox textarea
{
    width:100%;
}

.virkailija .tagset
{
    padding:5px 0px 10px 0px;
}
.virkailija .tagset .tag
{
    display:inline-block;
    line-height:18px;
    margin:0px 7px 0px 0px;
}
.virkailija .tagset .tag .remove
{
    vertical-align:middle;
    display:inline-block;
    width:12px;
    height:13px;
    margin:0px 0px 0px 5px;
    background-image:url(tag-delete-icon.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;
}


/*** Collapser
************************************************/

.virkailija .collapsible
{
    position:relative;
    margin-left:32px;
    min-height:2em;
}

.virkailija .collapsible .collapser,
.virkailija ul.itemtree li .collapser
{
    position:absolute;
    left:-26px;
    top:0px;
    width:20px;
    height:20px;
    background-image:url(itemtree-collapse-sprite.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;
}

.virkailija .collapsible.collapsed .collapser,
.virkailija ul.itemtree li.collapsed .collapser
{
    background-position:center right;
}

.virkailija .collapsible.collapsed .collapsing-content
{
    display:none;
}


/*** Itemlist
************************************************/

.virkailija .itemlist
{
    padding:0px;
}

.virkailija .itemlist  li
{
    margin:4px 0px;
    list-style:none;
}

.virkailija .itemlist .label
{
    display:inline-block;
    height:25px;
    line-height:25px;
}


/*** Organisationmenu
************************************************/

.virkailija ul.orgmenu
{
    padding:0px;
}

.virkailija ul.orgmenu li
{
    list-style:none;
    position:relative;
    margin:0px 0px;
}

.virkailija ul.orgmenu li ul
{
    padding:0px;
    
}

.virkailija ul.orgmenu li.closed ul
{
    display:none;
}

.virkailija ul.orgmenu a
{
    display:block;
    padding:3px 0px 3px 2em;
    border:solid 1px transparent;
    border-left-width:0px;
    border-right-width:0px;
    text-decoration:none;
}

.virkailija ul.orgmenu a:hover
{
    border-top-color:#d5ecf3;
    border-bottom-color:#8fb5c2;
    background: -moz-linear-gradient(center top , #c5e5ef, #9bd4e6) repeat scroll 0 0 transparent;
}

.virkailija ul.orgmenu li ul a
{
    padding-left:3em;
    
}

.virkailija ul.orgmenu li .folder
{
    position:absolute;
    top:5px;
    left:5px;
    display:inline-block;
    width:17px;
    height:14px;
    background-image:url(foldertree-icon-sprite.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;
}

.virkailija ul.orgmenu li.closed .folder
{
    background-position:center right;
}

.virkailija ul.orgmenu li .file
{
    position:absolute;
    top:0px;
    left:-23px;
    display:inline-block;
    width:12px;
    height:14px;
    background-image:url(foldertree-icon-sprite.png);
    background-repeat:no-repeat;
    background-position:center center;
}


.virkailija #popup .tagset .tag
{
    margin-bottom:7px;
}


/*** Virkailija-table-1 
************************************************/

/* common & misc */
.virkailija-table-1 {
    width: 100%;
    border-spacing: 1px 0;
}

.virkailija-table-1 tr td {
    line-height: 2.3em;
    padding: 0 1.5em;
    vertical-align: middle;
}

.virkailija-table-1 tr td.rule {
    padding-left: 3em;
    background-image: url("../img/ketju-saanto.png"); 
    background-repeat: no-repeat;
    background-position: 0.8em center;
    background-size: 1.5em;
}

.virkailija-table-1 tr td.follow-up-question {
    padding-left: 3em;
    background-image: url("../img/nuoli-jatkokysymys.png"); 
    background-repeat: no-repeat;
    background-position: 0.8em center;
    background-size: 1em;
}

.virkailija-table-1 tr td.condition {
    padding-left: 3em;
    background-image: url("../img/pykala-ehto.png"); 
    background-repeat: no-repeat;
    background-position: 0.8em center;
    background-size: 1em;
}

/* thead */
.virkailija-table-1 thead {
    background-color: #eee;
    background-image: url("../img/table-header-bg.png");
    background-repeat: repeat;
    background-position: left top;
}

.virkailija-table-1 thead td {
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #c2c2c2;
}

.virkailija-table-1 thead tr:first-of-type td:first-of-type {
    border-top-left-radius: 5px;
}

.virkailija-table-1 thead tr:first-of-type td:last-of-type {
    border-top-right-radius: 5px;
}

/* tbody */
.virkailija-table-1 tbody td{
    border-spacing: 0;
}

.virkailija-table-1 tbody td {
    border: 1px solid #ececec;
}

.virkailija-table-1 tbody tr:nth-child(even) td {
    background-color: #eee;
}

.virkailija-table-1 tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
}

.virkailija-table-1 tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 5px;
}



/*** Theme
************************************************/

.virkailija .theme {
    border-bottom: 1px solid #BBE7F5;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

