Ansökan: $applicationSystemId
Sökande: $applicant
Ansökans nummer: $applicationId
Ansökans datum och lagringstid: $applicationDate

Dina ansökningsönskemål:

#foreach ($preference in $preferences)
$preference

#end
#if ($athlete)

Du söker till yrkesutbildning som idrottare. Tilläggsuppgifter hittar du på adressen

http://www.sport.fi/urheiluoppilaitoshaku

#end
#if ($musiikkiTanssiLiikuntaEducationCode)

Du har sökt till utbildning inom musik-, dans-, eller idrottsbranschen. Kom ihåg att
på läroanstaltens hemsida kontrollera om det förutom den egentliga gemensamma ansökan
även krävs att du fyller i läroanstaltens egen tilläggsblankett.

#end

Ge respons om hur studieninfo.fi fungerade genom att svara på en kort enkät
på adressen https://www.survette.com/35424-28747-671@vastaaja1&vastaaja2. Du kan svara fram till 27.3.2014.

Detta är ett automatiskt meddelande. Svara inte på detta meddelande. Om du vill
ändra på dina ansökningsönskemål, kontakta Studieinfos ansökningsrådgivning
under ansökningstiden (info@studieinfo.fi).
