Haku: $applicationSystemId
Hakija: $applicant
Hakemusnumero: $applicationId
Hakemuksen päivämäärä ja tallennusaika: $applicationDate

Hakutoiveesi:

#foreach ($preference in $preferences)
$preference

#end
#if ($athlete)

Haet urheilijana ammatilliseen koulutukseen. Lisätietoja löydät osoitteesta

http://www.sport.fi/urheiluoppilaitoshaku

#end
#if ($musiikkiTanssiLiikuntaEducationCode)

Hait musiikki-, tanssi- tai liikunta-alan koulutukseen. Muista tarkistaa oppilaitoksen
nettisivuilta, pitääkö sinun täyttää myös oppilaitoksen oma lisätietolomake. Lomakkeen
voit tulostaa oppilaitoksen nettisivuilta, ja se on lähetettävä hakuaikana oppilaitokseen.

#end

Anna palautetta opintopolku.fi:n toiminnasta vastaamalla lyhyeen kyselyyn
osoitteessa https://www.survette.com/35423-28747-671@vastaaja1&vastaaja2. Voit vastata 27.3.2014 asti.

Tämä on automaattinen sähköpostiviesti. Älä vastaa tähän. Jos haluat muuttaa
hakutoiveitasi, ole yhteydessä Opintopolun hakuneuvontaan hakuaikana
(neuvonta@opintopolku.fi).
