Ansökan: $applicationPeriodId
Sökande: $applicant
Ansökans nummer: $applicationId
Ansökans datum och lagringstid: $applicationDate

Dina ansökningsönskemål:

#foreach ($preference in $preferences)
$preference

#end

Ge respons om hur studieninfo.fi fungerade genom att svara på en kort enkät
på adressen https://www.survette.com/34894-28325-671@studieinfo&hosten2013.
Du kan svara fram till 11.10.2013.

Detta är ett automatiskt meddelande. Svara inte på detta meddelande. Om du vill
ändra på dina ansökningsönskemål, kontakta Studieinfos ansökningsrådgivning
under ansökningstiden (info@studieinfo.fi).
