Haku: $applicationSystemId
Hakija: $applicant
Hakemusnumero: $applicationId
Hakemuksen päivämäärä ja tallennusaika: $applicationDate

Hakutoiveesi:

#foreach ($preference in $preferences)
$preference

#end

Anna palautetta opintopolku.fi:n toiminnasta vastaamalla lyhyeen kyselyyn
osoitteessa https://www.survette.com/34894-28325-671@opintopolku&syksy2013.
Voit vastata 11.10.2013 asti.

Tämä on automaattinen sähköpostiviesti. Älä vastaa tähän. Jos haluat muuttaa
hakutoiveitasi, ole yhteydessä Opintopolun hakuneuvontaan hakuaikana
(neuvonta@opintopolku.fi).
