Ansökan: $applicationSystemId
Sökande: $applicant
Ansökans nummer: $applicationId
Ansökans datum och lagringstid: $applicationDate

Dina ansökningsönskemål:

#foreach ($preference in $preferences)
$preference

#end
#if ($athlete)

Haet urheilijana ammatilliseen koulutukseen. Lisätietoja löydät osoitteesta

http://www.noc.fi/huippu-urheilu/opinto-ja_uraohjaus/urheilijoiden_opiskelumahdollisu/

#end

Detta är ett automatiskt meddelande. Svara inte på detta meddelande. Om du vill
ändra på dina ansökningsönskemål, kontakta Studieinfos ansökningsrådgivning
under ansökningstiden (info@studieinfo.fi).
