


/*** Help page
************************************************/
#help-page{

    width:auto;
    max-width:1140px;
    margin:0px auto;

    #siteheader {
        width:auto;
        max-width:1140px;
        margin:0px auto;
    }
}



/*** Vapaasanahaku/koulutuskuvaus -sivu
**************************************************************/

.minimal {
    list-style-type: none;
    padding-left: 0;
}

.form-row ul {
    margin: 0;
}

.toprow {
    padding-top: 20px;

    h1 {
    	margin: 0;
    }

    .set-right {
    	padding-left: 20px;
    }
}


/*** Tabsheet
************************************************/
.tabsheets {
    background-color:#ffffff;
    border:solid 2px #bdbdbd;
    padding:10px;
}

.tabsheet {
    display:none;
}

.tabs {

    .tab {
        color: #3E3E3E;
        background-color:#ffffff;
        display:inline-block;
        border:solid 1px #bdbdbd;
        padding:1px;
        text-decoration:none;
        text-shadow: 0 1px 0 #FFFFFF;
        position: relative;
        top:1px;

        span {
            display:block;
            padding:0px 20px;
            height:36px;
            line-height:36px;
            background: #f6f6f6;
            @include background-gradient-from-top-to-bottom(linear, #f5f5f5, #c6c6c6);
        }

        &:hover span {
            background: #c6c6c6;
            @include background-gradient-from-top-to-bottom(linear, #c6c6c6, #f5f5f5);
        }
        
        
    }

    .tab.current {
        border-top-width: 2px;
        border-right-width: 2px;
        border-left-width: 2px;
        border-bottom-width:0px;
        padding-bottom:2px;
        position: relative;
        top:2px;

        span {
            background: white;
            @include background-gradient-from-top-to-bottom(linear, #f5f5f5, #fff);
        }
    }
    
}



/*** Image figure, Video Figure
************************************************/

figure {

    &.image {
        display:inline-block;
        position:relative;
        max-width:100%;
        margin:0px;

        img {
            display: block;
        }

        figcaption {
            position:absolute;
            bottom:0px;
            left:0px;
            width:90%;
            max-height:70%;
            overflow:hidden;
            padding:0.7em 5%;
            background-color:rgba(0,0,0,0.5);
            color:#ffffff;
            text-shadow:0px 0px 2px #000000;
        }
    }

    &.video {
        display:inline-block;
        position:relative;
        max-width:100%;
        margin:0px;

        img,
        video,
        embed {
            display: block;
        }

        figcaption {
            position:absolute;
            bottom:0px;
            left:0px;
            width:90%;
            max-height:70%;
            overflow:hidden;
            padding:0.7em 5%;
            background-color:rgba(0,0,0,0.5);
            color:#ffffff;
            text-shadow:0px 0px 2px #000000;
        }
    }

    &.set-right {
        margin-left:2em;
        margin-right:0px;
    }

    &.set-left {
        margin-left: 0;
        margin-right: 2em;
    }

    &.set-center {
        margin-left: auto;
        margin-right: auto;
    }
}

/*** Removable items
************************************************/
.removable-items {
    list-style-type: none;
    margin-left: 0 !important;

    li {
        line-height: 24px;
    }

    a {
        .item {
            display: inline-block !important;
        }

        .btn-remove {
            float: right;
            display: inline-block;
        }
    }
}

a.btn-remove {
    @include background-image("remove-sprite_idle-hover-selected-disabled.png");
    background-position: left top;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    &:hover {
        background-position: -24px top;    
    }

    &:active {
        background-position: -48px top;
    }

    &.disabled {
        background-position: -72px top;
    }
}






/*** Sidemenu
************************************************/
#sidemenu {
    border-bottom: 1px solid #bdbdbd;
    color: #a0a0a0;
    background: #F8F8F8;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;

	.heading 
	{
		@include background-image("table-header-bg.png");
		background-repeat: repeat;
		background-color: transparent;
		background-position: top left;
		border-top: 1px solid #bdbdbd;
		border-bottom: 1px solid #bdbdbd;

		h2 
		{
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0.8em;
			padding-bottom: 0.8em;
			color: #149dca;
			padding-left: 15px;
		}
	}

	.sidemenu-content {
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;

		a {
			display: block;
		}
		
		div {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}	

	ul {
		margin: 0 0 0 15px;
		padding-left: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	p {
		margin: 0;
		padding-top: 10px;
	}

	legend {
		padding-bottom: 5px;
	}

}





/*** Sidemenu - Notelist & Notelist-simple
************************************************/

#notelist h2
{
	@include background-image("muistilista_ikoni.png");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 95% 0.5em;
}

.notelist-simple-wrapper {
    padding-bottom: 14px;
	@include background-image("notelist-simple-shadow.png");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: bottom right;
    margin-bottom: 20px;
}

.notelist-simple {
    padding: 10px;
    background: #fffaeb;
	
	li {
		padding-bottom: 10px;
	}
}








/*** Sidemenu - Compare
************************************************/
#compare h2
{
    background: transparent url('../img/vertailu_ikoni.png') no-repeat 95% 0.5em;  
}


/*** Sidemenu - Kirjautuminen
************************************************/
#sidemenu #kirjautuminen {
    padding-top: 10px;
}


/*** Infobox
************************************************/

.infobox {
    background: #f8f8f8;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bdbdbd;

    .emphasized {
        font-weight: bold;
    }

    .heading { 
        padding-top: 10px;
    }
}


/*** Definition list
************************************************/

.definitions {

    td.description {
        padding-left: 20px;
        font-weight: bold;
    }

    td.term {
        text-align: right;
    }
}



/*** Hierarchy list
************************************************/

.hierarchy-list {
    list-style-type: none;
    padding-left: 0;

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        padding-left: 20px;
    }

    .lvl-1 {
        > li {
            font-weight: bold;
            padding-bottom: 10px;

            > ul {
                padding-top: 10px;
            }

            &.closed {
                background: transparent url("../img/arrow-right.png") no-repeat left top;
                > ul {
                    display: none; 
                }
            }

            &.open {
                background: transparent url("../img/arrow-down.png") no-repeat left top;
                > ul {
                    display: block;
                }
            }
        }

        &.open {
            background: transparent url("../img/arrow-down.png") no-repeat left center;
        }
    }

    .lvl-2 {
        font-weight: normal;
    }
}

#sidemenu .hierarchy-list ul {
    margin-left: 0;
}



/*** Search field
**************************************************************/

#searchfield-wrapper {
    margin-bottom: 15px;
	background: url("../img/texture-angled-lines.gif") repeat scroll left top transparent;
	box-shadow:inset 0px 0px 2px 0px #c4c4c4;
	background-color:#f9f9f9;

    #searchfield {
        display: block;
        margin: 0 auto;
        position: relative;
        line-height: 40px;
        height: 40px;
        width: 300px;

        input {
            width: 100%;
        }

        .btn-search {

            position: absolute;
            top: 13px;
            right: 10px;
            background: transparent url('../img/icon-search.png') no-repeat left top;
            width: 16px;
            height: 17px;

            span {
                background: none;
                display: block;
            }
        }
    }
}






/*** Unstyled list
**************************************************************/

ul.unstyled
{
	padding:0px;

    li {
        list-style:none;
        margin:1em 0px;
    }
}







/*** Hidable
************************************************/

.hider-button {
    padding-left: 15px;
    background: transparent url('../img/arrow-right.png') no-repeat left top;
    /*background: transparent url('../img/arrow-right.png') no-repeat left top;*/
}

.hidden {
    display: none;
}

/***  Help link
************************/

.helplink {
    display: block;
    width: 20px;
    height: 21px;
    color: transparent;
    background-image: url('../img/help-icon-sprite_idle-hover-selected-disabled.png');
    background-position: 0px center;
    background-repeat: no-repeat;

    &:hover {
        background-position: -20px center;
    }

    &:active,
    &:focus {
        background-position: -40px center;
    }

    &:disabled,
    &.disabled {
        background-position: -60px center;
    }
}



/***  Linklist
************************/

.linklist > span {
    color: #149DCA;
}









/*** Application-basket
************************************************/

.application-basket
{
    background-color:#ececec;
    margin:0.5em;
    position:relative;
    overflow:hidden;
	@include rounded-corners(5px);
    display:none;

	.table-container
	{
		margin-right:-4px;
		position:relative;
	}

	.close
	{
		position:absolute;
		right:4px;
		bottom:0px;
	}

	table
	{
		width:100%;
		border-spacing:2px 0px;
		margin:0px -10px 0px 0px;
		border:none;
		position:relative;
		left:-2px;
	}

	thead tr th,
	thead tr td,
	tbody tr td
	{
		border:none;
		vertical-align:top;
		padding:0.5em 1.5em;
		line-height:2em;
		background-color:#f5f5f5;
	}

	thead tr th
	{
		background-color:#ececec;
		background-image:url('../img/texture-angled-lines.gif');
		background-repeat:repeat;
		background-position:top left;
		font-size:1.385em;
		line-height:1.5em;
		text-shadow:0px 1px 1px #ffffff;
		@include rounded-corners(5px 5px 0px 0px);
		
		&:first-child
		{
			box-shadow:inset 8px 0px 4px -8px #a9a9a9, inset 0px 8px 4px -8px #a9a9a9, inset -8px 0px 4px -8px #a9a9a9;
		}
	}


	thead tr td
	{
		background-color:#dcdcdc;
		text-transform:uppercase;
	}

	tbody tr:nth-child(even) td
	{
		background-color:#ececec;
	}

	thead tr td,
	tbody tr td	
	{
		&:first-child
		{
			box-shadow:inset 8px 0px 4px -8px #a9a9a9;
		}
		
		&:last-child
		{
			box-shadow:inset -8px 0px 4px -8px #a9a9a9;
		}
	}

	tfoot tr td
	{
		border:none;
		vertical-align:top;
		padding:0.5em 1.5em;
		background-color:#ececec;
		@include rounded-corners(0px 0px 5px 5px);
		
		&:first-child
		{
			box-shadow:inset 8px 0px 4px -8px #a9a9a9, inset 0px -8px 4px -8px #a9a9a9, inset -8px 0px 4px -8px #a9a9a9;
		}
	}
}



/*** Application-options
**************************************************************/
.application-options {
    padding-bottom: 20px;
	.table-container {
		background: #eee;
		box-shadow: 0 0 8px 0 #888;
		border: 3px solid white;
		@include rounded-corners(4px);

	}
}

.application-option-info {
	padding-bottom: 20px;
}








/*** Sidenavigation
**************************************************************/
.sidenavigation
{

}



.sidemenu-level-1-heading
{
	display:block;
    height: 2em;
	line-height:2em;
	padding:0px 0.722em;
	margin-bottom:0.3em;
	font-size:1.385em;
	color:#0a88b1;
	background: url("../img/texture-angled-lines.gif") repeat scroll left top transparent;
	box-shadow:inset 0px 0px 2px 0px #c4c4c4;
	background-color:#f9f9f9;
}

.sidemenu-level-1
{
    margin:0px;
    padding:0px;

	li
	{
		list-style:none;
		display:block;

		a
		{
			display:block;
			height:3.077em;
			line-height:3.077em;
			padding:0px 1em;
			text-decoration:none;
			border-bottom:solid 1px #bfe4f1;
			color:#3e3e3e;
			
			&:hover
			{
				background-color:#bfe4f1;
				color:#000000;

			}

			&.current
			{
				font-weight:bold;
				background-color:#ebf3f7;
				color:#000000;
				margin-top:-1px;
				border-top:solid 1px #ebf3f7;
				border-bottom-color:#ebf3f7;
			}
		}
	}
}

.sidemenu-level-2 
{
	padding:0px;
	
	li a
	{
		padding-left:2.5em;
	}
}


/*** search-applications
************************************************/

#search-applications .form-row.narrow {

    .form-row-label {
        width: 100px;
        max-width: 30%;
        text-align: left;
    }

    .form-row-content {
        max-width: 70%;
    }
}





/*** compare
************************************************/
/*
.compare-header {
    background-image: url('../img/vertailu_ikoni.png');
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 53px;
}

.compare-header h1 {
    display: inline-block;
    vertical-align: bottom;    
    padding-left: 55px;
    letter-spacing: -0.5px;
}


.compare-table-navigation {
    text-align: center;
}

.compare-table-navigation button {
    display: inline-block;
    margin-bottom: 2em;
}




.compare-table
{
    background-color:#ececec;
    position:relative;
    overflow:hidden;
    border-radius: 5px;
    margin-bottom: 2em;
}

.compare-table .table-container
{
    margin-right:-5px;
    position:relative;
}

.compare-table table
{
    width:100%;
    border-spacing:2px 0px;
    margin:0px -10px 0px 0px;
    border:none;
    position:relative;
    left:-2px;
}

.compare-table thead tr th,
.compare-table thead tr td,
.compare-table tbody tr td
{
    border:none;
    vertical-align: middle;
    padding:0.5em 1.5em;
    line-height:1.5em;
    background-color: #fff;
}



.compare-table thead tr th:first-of-type,
.compare-table tbody tr td:first-of-type {
    box-shadow: inset 8px 0 4px -8px #a9a9a9;
}

.compare-table thead tr th:last-of-type,
.compare-table tbody tr td:last-of-type {
    box-shadow: inset -8px 0 4px -8px #a9a9a9;
}

.compare-table thead tr.toprow th {
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 8px 4px -8px #a9a9a9, inset -8px 0 4px -8px #a9a9a9, inset 8px 0 4px -8px #a9a9a9;
}

.compare-table thead tr td {

    background-color: #ebebeb;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}

.compare-table tbody tr.selected td {
    background-color: #e5f3f8;
}

.compare-table thead tr th
{
    background-color:#ececec;
    background-repeat:repeat;
    background-position:top left;
    line-height:1.5em;
    text-align: left;
}

.compare-table thead tr td
{
    background-color:#dcdcdc;
}

.compare-table thead tr td:first-child,
.compare-table tbody tr td:first-child
{
    box-shadow:inset 8px 0px 4px -8px #a9a9a9;
}

.compare-table tbody tr:last-of-type td:first-of-type {
    box-shadow: inset 8px 0px 4px -8px #a9a9a9, inset 0 -8px 4px -8px #a9a9a9;
    border-radius: 0 0 0 5px;
}

.compare-table tbody tr:last-of-type td:last-of-type {
    box-shadow: inset -8px 0px 4px -8px #a9a9a9, inset 0 -8px 4px -8px #a9a9a9;
    border-radius: 0 0 5px 0;
}

.compare-table tbody tr:last-of-type td {
    box-shadow: inset 0 -8px 4px -8px #a9a9a9;
}

.compare-table .compare-footer-tools {
    margin: 1em 0;
}

*/