


/*** Help page
************************************************/
#help-page,
#help-page #siteheader {
    width:auto;
    max-width:1140px;
    margin:0px auto;
}

/*** Breadcrumbs
************************************************/

/*** Vapaasanahaku/koulutuskuvaus -sivu
**************************************************************/

.minimal {
    list-style-type: none;
    padding-left: 0;
}

.form-row ul {
    margin: 0;
}

.toprow {
    padding-top: 20px;

    h1 {
    	margin: 0;
    }

    .set-right {
    	padding-left: 20px;
    }
}


/*** Popups
************************************************/
.popup-overlay {
    background-color: #000;
    opacity:0.4;
    filter: alpha(opacity=40);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#popup {
    margin:0px auto;
    background:#ffffff;
    width:50%;
    height:350px;
    position:relative;
    padding:10px;
    
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 2px 0 #5f5f5f;
    background-color:#f9f9f9;

    .close {
        display:block;
        position:absolute;
        top:5px;
        right:5px;
        width:16px;
        height:17px;

        
        background-image:url(../img/popup-close-icon.png);
        background-repeat:no-repeat;
        background-position:center center;
        cursor:pointer;
    }

    .popup-content {
        display: inline-block;
    }

    .tagset .tag {
        margin-bottom: 7px;
    }
}

.popup {
    display: none;
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 1000;
    max-width: 900px;

    header {
        background-color: #eee;    
        border-bottom: 1px dotted #ccc;
        padding: 0.8em;

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        > div {
            padding: 0 0.8em;
        }

        h3 {
            margin: 0;
        }

        a.close {
            background-image: url('../../img/close-icon.png');
            background-repeat: no-repeat;
            background-position: left top;
            width: 16px;
            height: 17px;
            float: right;
        }


    }
}



/*** Tabsheet
************************************************/
.tabsheets {
    background-color:#ffffff;
    border:solid 2px #bdbdbd;
    padding:10px;
}

.tabsheet {
    display:none;
}

.tabs {

    .tab {
        color: #3E3E3E;
        background-color:#ffffff;
        display:inline-block;
        border:solid 1px #bdbdbd;
        padding:1px;
        text-decoration:none;
        text-shadow: 0 1px 0 #FFFFFF;
        position: relative;
        top:1px;

        span {
            display:block;
            padding:0px 20px;
            height:36px;
            line-height:36px;
            background: #f6f6f6;
            @include background-gradient-from-top-to-bottom(linear, #f5f5f5, #c6c6c6);
        }

        &:hover span {
            background: #c6c6c6;
            @include background-gradient-from-top-to-bottom(linear, #c6c6c6, #f5f5f5);
        }
        
        
    }

    .tab.current {
        border-top-width: 2px;
        border-right-width: 2px;
        border-left-width: 2px;
        border-bottom-width:0px;
        padding-bottom:2px;
        position: relative;
        top:2px;

        span {
            background: white;
            @include background-gradient-from-top-to-bottom(linear, #f5f5f5, #fff);
        }
    }
    
}



/*** Image figure, Video Figure
************************************************/


figure.image,
figure.video
{
	display:inline-block;
	position:relative;
	max-width:100%;
	margin:0px;
}

figure.image img,
figure.video img,
figure.video video,
figure.video embed
{
	display:block;
}

figure.image figcaption,
figure.video figcaption
{
	position:absolute;
	bottom:0px;
	left:0px;
	width:90%;
	max-height:70%;
	overflow:hidden;
	padding:0.7em 5%;
	background-color:rgba(0,0,0,0.5);
	color:#ffffff;
	text-shadow:0px 0px 2px #000000;
}

figure.set-right
{
	margin-left:2em;
	margin-right:0px;
}

figure.set-left
{
	margin-left:0px;
	margin-right:2em;
}

figure.set-center
{
	margin-left:auto;
	margin-right:auto;
}

/*** Removable items
************************************************/
.removable-items {
    list-style-type: none;
    margin-left: 0 !important;
}

.removable-items li {
    line-height: 24px;
}

.removable-items a.item {
    display: inline-block !important;
}

.removable-items a.btn-remove {
    float: right;
    display: inline-block;
}

a.btn-remove {
    background-image: url('../img/remove-sprite_idle-hover-selected-disabled.png');
    background-position: left top;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

a.btn-remove:hover {
    background-position: -24px top;
}

a.btn-remove:active {
    background-position: -48px top;
}

a.btn-remove.disabled {
    background-position: -72px top;
}


/*** Popup
**************************************************************/

.popup {
    display: none;
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 1000;
    max-width: 900px;
}

.popup header {
    background-color: #eee;
    

    border-bottom: 1px dotted #ccc;
    padding: 0.8em;
}

.popup header > * {
    display: inline-block;
    vertical-align: middle;
}

.popup header h3 {
    margin: 0;
}

.popup header a.close {
    background-image: url('../img/close-icon.png');
    background-repeat: no-repeat;
    background-position: left top;
    width: 16px;
    height: 17px;
    float: right;
}

.popup > div {
    padding: 0 0.8em;
}


/*** Login
**************************************************************/

#login-popup {
    position: absolute;
    background: #eee;
    border: 4px solid #fff;
    box-shadow: 0 0 20px 0 #333;
    border-radius: 4px;
     z-index: 1000;
    width: 200px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0;
}

.login-content legend {
    padding: 10px 0;
}

.login-content form div {
    padding: 10px 0;
}

/*** Sidemenu
************************************************/
#sidemenu {
    border-bottom: 1px solid #bdbdbd;
    color: #a0a0a0;
    background: #F8F8F8;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
}

#sidemenu .heading 
{
    background: transparent url('../img/table-header-bg.png') repeat top left;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

#sidemenu .heading h2 
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    color: #149dca;
    padding-left: 15px;
}

#sidemenu .sidemenu-content {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#sidemenu .sidemenu-content a {
    display: block;
}

#sidemenu ul {
    margin: 0 0 0 15px;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidemenu p {
    margin: 0;
    padding-top: 10px;
}

#sidemenu .sidemenu-content div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidemenu legend {
    padding-bottom: 5px;
}







/*** Sidemenu - Notelist & Notelist-simple
************************************************/

#notelist h2
{
    background: transparent url('../img/muistilista_ikoni.png') no-repeat 95% 0.5em;
}

.notelist-simple-wrapper {
    padding-bottom: 14px;
    background:  transparent url('../img/notelist-simple-shadow.png') no-repeat bottom right;
    margin-bottom: 20px;
}

.notelist-simple {
    padding: 10px;
    background: #fffaeb;
}

.notelist-simple li {
    padding-bottom: 10px;
}






/*** Sidemenu - Compare
************************************************/
#compare h2
{
    background: transparent url('../img/vertailu_ikoni.png') no-repeat 95% 0.5em;  
}


/*** Sidemenu - Kirjautuminen
************************************************/
#sidemenu #kirjautuminen {
    padding-top: 10px;
}


/*** Infobox
************************************************/

.infobox {
    background: #f8f8f8;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bdbdbd;
}

.infobox .emphasized {
    font-weight: bold;
}

.infobox .heading {
    padding-top: 10px;
}



/*** Definition list
************************************************/

.definitions td.description {
    padding-left: 20px;
    font-weight: bold;
}

.definitions td.term {
    text-align: right;
}

/*** Hierarchy list
************************************************/

.hierarchy-list {
    list-style-type: none;
    padding-left: 0;
}

.hierarchy-list ul {
    list-style-type: none;
    padding-left: 0;
}

.hierarchy-list li {
    padding-left: 20px;
}

.hierarchy-list .lvl-1 > li {
    font-weight: bold;
    padding-bottom: 10px;
}

.hierarchy-list .lvl-1 > li > ul {
    padding-top: 10px;
}

.hierarchy-list .lvl-1 > li.closed {
    background: transparent url("../img/arrow-right.png") no-repeat left top;
}

.hierarchy-list .lvl-1 > li.open {
    background: transparent url("../img/arrow-down.png") no-repeat left top;
}

.hierarchy-list .lvl-1 > li.closed > ul {
    display: none;  
}

.hierarchy-list .lvl-1 > li.open > ul {
    display: block;
}

.hierarchy-list .lvl-2 {
    font-weight: normal;
}

.hierarchy-list li.lvl-1.open {
    background: transparent url("../img/arrow-down.png") no-repeat left center;
}

#sidemenu .hierarchy-list ul {
    margin-left: 0;
}





/*** Search field
**************************************************************/

#searchfield-wrapper {
    margin-bottom: 15px;
	background: url("../img/texture-angled-lines.gif") repeat scroll left top transparent;
	box-shadow:inset 0px 0px 2px 0px #c4c4c4;
	background-color:#f9f9f9;

    #searchfield {
        display: block;
        margin: 0 auto;
        position: relative;
        line-height: 40px;
        height: 40px;
        width: 300px;

        input {
            width: 100%;
        }

        .btn-search {

            position: absolute;
            top: 13px;
            right: 10px;
            background: transparent url('../img/icon-search.png') no-repeat left top;
            width: 16px;
            height: 17px;

            span {
                background: none;
                display: block;
            }
        }
    }
}






/*** Unstyled list
**************************************************************/

ul.unstyled
{
	padding:0px;
}

ul.unstyled li
{
	list-style:none;
	margin:1em 0px;
}







/*** Hidable
************************************************/

.hider-button {
    padding-left: 15px;
    background: transparent url('../img/arrow-right.png') no-repeat left top;
    /*background: transparent url('../img/arrow-right.png') no-repeat left top;*/
}

.hidden {
    display: none;
}

/***  Help link
************************/

.helplink {
    display: block;
    width: 20px;
    height: 21px;
    color: transparent;
    background-image: url('../img/help-icon-sprite_idle-hover-selected-disabled.png');
    background-position: 0px center;
    background-repeat: no-repeat;
}

.helplink:hover {
    background-position: -20px center;
}

.helplink:active, .helplink:focus {
    background-position: -40px center;
}

.helplink:disabled, .helplink.disabled {
    background-position: -60px center;
}


/***  Linklist
************************/

.linklist > span {
    color: #149DCA;
}

/*** key-value-list-1
************************/

.key-value-list-1 {
    display: block;
}

.key-value-list-1 .key{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    vertical-align: middle;
    text-align: right;
}

.key-value-list-1 .value {
    text-align: left;
    display: inline;
    vertical-align: middle;
}












/*** Application-basket
************************************************/

.application-basket
{
    background-color:#ececec;
    margin:0.5em;
    position:relative;
    overflow:hidden;
    border-radius: 5px;
    display:none;
}



.application-basket .table-container
{
    margin-right:-4px;
    position:relative;
}

.application-basket .close
{
    position:absolute;
    right:4px;
    bottom:0px;
}

.application-basket table
{
    width:100%;
    border-spacing:2px 0px;
    margin:0px -10px 0px 0px;
    border:none;
    position:relative;
    left:-2px;
}

.application-basket thead tr th,
.application-basket thead tr td,
.application-basket tbody tr td
{
    border:none;

    vertical-align:top;
    padding:0.5em 1.5em;
    line-height:2em;
    background-color:#f5f5f5;
}

.application-basket thead tr th
{
    background-color:#ececec;
    background-image:url('../img/texture-angled-lines.gif');
    background-repeat:repeat;
    background-position:top left;
    font-size:1.385em;
    line-height:1.5em;
    text-shadow:0px 1px 1px #ffffff;
    border-radius: 5px 5px 0px 0px;
}

.application-basket thead tr th:first-child
{
    box-shadow:inset 8px 0px 4px -8px #a9a9a9, inset 0px 8px 4px -8px #a9a9a9, inset -8px 0px 4px -8px #a9a9a9;
}

.application-basket thead tr td
{
    background-color:#dcdcdc;
    text-transform:uppercase;

}

.application-basket thead tr td
.application-basket tbody tr td
{

}

.application-basket tbody tr:nth-child(even) td
{
    background-color:#ececec;
}

.application-basket thead tr td:first-child,
.application-basket tbody tr td:first-child
{
    box-shadow:inset 8px 0px 4px -8px #a9a9a9;
}

.application-basket thead tr td:last-child,
.application-basket tbody tr td:last-child
{
    box-shadow:inset -8px 0px 4px -8px #a9a9a9;
}

.application-basket tfoot tr td
{
    border:none;
    vertical-align:top;
    padding:0.5em 1.5em;
    background-color:#ececec;
    border-radius: 0px 0px 5px 5px;
}

.application-basket tfoot tr td:first-child
{
    box-shadow:inset 8px 0px 4px -8px #a9a9a9, inset 0px -8px 4px -8px #a9a9a9, inset -8px 0px 4px -8px #a9a9a9;
}





/*** Application-options
**************************************************************/
.application-options {
    padding-bottom: 20px;
}

.application-options .table-container {
    background: #eee;
    box-shadow: 0 0 8px 0 #888;
    border: 3px solid white;
    border-radius: 4px;

}

.application-option-info {
    padding-bottom: 20px;
}






/* CONTENTS
    
    Breadcrumb
    Siteheader
    Navigation
    Overlay & Popup

    @info: This file should only contain styles for components that are used on every page of the site

*/




/*** Breadcrumb
**************************************************************/
#breadcrumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

#breadcrumb ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#breadcrumb .home {
    padding-left: 0;
}

#breadcrumb a {
    display: block;
    text-decoration: none;
}

#breadcrumb .current a {
    color: #3e3e3e;
}

#breadcrumb .home a {
    background: transparent url('../img/breadcrumb-home.png') no-repeat left center;
    width: 19px;
    height: 17px;
    display: block;
}

#breadcrumb .breadcrumb-item {
    padding-left: 25px; 
    background: transparent url('../img/breadcrumb-arrow.png') no-repeat left center;
}

#breadcrumb .breadcrumb-item a:hover,
#breadcrumb .breadcrumb-item a:active {
    text-shadow: 0 0 3px #ccc;
}

#breadcrumb li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}



/*** Siteheader
**************************************************************/

#siteheader
{

}

#siteheader .line
{
    width:100%;
    height:5px;
    background-color:#3cafd4;
    
    box-shadow: inset 0px 2px 2px -2px #006285;
    
}

#siteheader .sitelogo
{
    float:left;
}

#siteheader .actions
{
    float:right;
    padding:0px 2em 0px;
}

#siteheader .actions ul
{
    display:inline-block;
    vertical-align:bottom;
    margin:0px;

}

#siteheader .actions ul li
{
    
    list-style:none;
}

#siteheader .actions ul li a
{
    color:#010101;
    text-decoration:none;
}

#siteheader .actions ul li a:hover
{

}


/*** Main navigation
**************************************************************/

.main-navigation
{
    display:inline-block;
    background-color:#149ecb;
    border:solid 4px #ffffff;
    margin:0.5em 0px;
    height:3.077em;
    box-shadow:0px 0px 1px 0px #c4c4c4;
    border-radius:6px;
}

.navigation
{
    margin:0px;
    padding:0px;
}

.navigation li
{
    position: relative;
    list-style:none;
    display:inline-block;
}

.navigation li a
{
    font-weight:bold;
    display:block;
    height:3.077em;
    line-height:3.077em;
    padding:0px 1em;
    color:#ffffff;
    text-decoration:none;
}

.navigation li a:hover
{
    background-color: #0a91be;
    box-shadow: inset 0 0 2px 0 #777;
}

.navigation li a:active
{
    background-color: #0a91be;
    box-shadow: inset 0 0 2px 0 #777;
}

.navigation li.current a
{
    background-color: #0085b1;
    box-shadow: inset 0 0 2px 0 #777;
}

.navigation li.home a
{
    display:block;
    height:3.077em;
    width:3.077em;
    line-height:3.077em;
    padding:0px;
    color:transparent;
    background-image: url("../img/menu-level-1-home.png");
    background-repeat:no-repeat;
    background-position:center center;
}

.navigation li.home a:hover,
.navigation li.home a:active
{
    background-color: #149ecb;
    box-shadow: none;
}


/*** Dropdown
**************************************************************/

.dropdown {
    background: white;
    position: absolute;
    box-shadow: 0 0 16px 0 #666;
    z-index: 5;
    padding-left: 0;
}

.dropdown > li {
    display: block;
}

.dropdown li > * { /* no text-wrapping in li-elements children, ment to affect also the inner menus */
    white-space: nowrap;
}

.dropdown li.first-item a {
    border-top: 1px solid #3caed4;
}

.dropdown li span {
    height:3.077em;
    line-height:3.077em;
    color: #888;
    font-style: italic;
    display: block;
    padding: 0 1em;
}

.dropdown li a {
    height:3.077em;
    line-height:3.077em;
    padding: 0 45px 0 1em;
    display: block;
    color: #333;
    font-weight: normal;
    border-bottom: 1px solid #3caed4;
    box-shadow: none;
}

.dropdown li a:hover {
    background-color: #ebf3f7;
}

.dropdown li a:active {
    background-color: #a1d8ea;
    font-weight: bold;
}

.sub-dropdown > a {
    background-image: url('../img/navigation-arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
}

.sub-dropdown ul {
    padding-left: 0;
    background-color: white;
    box-shadow: 0 0 16px 0 #666;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 5;

}

.sub-dropdown ul li {
    display: block;
}

.dropdown .sub-dropdown ul li a {
    border-bottom: 1px dotted #a3a3a3;
}

.dropdown .sub-dropdown ul li.first-item a {
    border-top: 1px dotted #a3a3a3 !important;
}





/*** Sidenavigation
**************************************************************/
.sidenavigation
{

}



.sidemenu-level-1-heading
{
	display:block;
    height: 2em;
	line-height:2em;
	padding:0px 0.722em;
	margin-bottom:0.3em;
	font-size:1.385em;
	color:#0a88b1;
	background: url("../img/texture-angled-lines.gif") repeat scroll left top transparent;
	box-shadow:inset 0px 0px 2px 0px #c4c4c4;
	background-color:#f9f9f9;
}

.sidemenu-level-1
{
    margin:0px;
    padding:0px;
}

.sidemenu-level-1 li
{
    list-style:none;
    display:block;
}

.sidemenu-level-1 li a
{
    display:block;
    height:3.077em;
    line-height:3.077em;
    padding:0px 1em;
    text-decoration:none;
	border-bottom:solid 1px #bfe4f1;
	color:#3e3e3e;
}

.sidemenu-level-1 li a:hover
{
	background-color:#bfe4f1;
	color:#000000;

}

.sidemenu-level-1 li a.current
{
	font-weight:bold;
	background-color:#ebf3f7;
	color:#000000;
	margin-top:-1px;
	border-top:solid 1px #ebf3f7;
	border-bottom-color:#ebf3f7;
}

.sidemenu-level-2 
{
	padding:0px;
}

.sidemenu-level-2 li a
{
	padding-left:2.5em;
}


/*** search-applications
************************************************/

#search-applications .form-row.narrow .form-row-label {
    width: 100px;
    max-width: 30%;
    text-align: left;
}


#search-applications .form-row.narrow .form-row-content {
    max-width: 70%;
}





/*** compare
************************************************/
/*
.compare-header {
    background-image: url('../img/vertailu_ikoni.png');
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 53px;
}

.compare-header h1 {
    display: inline-block;
    vertical-align: bottom;    
    padding-left: 55px;
    letter-spacing: -0.5px;
}


.compare-table-navigation {
    text-align: center;
}

.compare-table-navigation button {
    display: inline-block;
    margin-bottom: 2em;
}




.compare-table
{
    background-color:#ececec;
    position:relative;
    overflow:hidden;
    border-radius: 5px;
    margin-bottom: 2em;
}

.compare-table .table-container
{
    margin-right:-5px;
    position:relative;
}

.compare-table table
{
    width:100%;
    border-spacing:2px 0px;
    margin:0px -10px 0px 0px;
    border:none;
    position:relative;
    left:-2px;
}

.compare-table thead tr th,
.compare-table thead tr td,
.compare-table tbody tr td
{
    border:none;
    vertical-align: middle;
    padding:0.5em 1.5em;
    line-height:1.5em;
    background-color: #fff;
}



.compare-table thead tr th:first-of-type,
.compare-table tbody tr td:first-of-type {
    box-shadow: inset 8px 0 4px -8px #a9a9a9;
}

.compare-table thead tr th:last-of-type,
.compare-table tbody tr td:last-of-type {
    box-shadow: inset -8px 0 4px -8px #a9a9a9;
}

.compare-table thead tr.toprow th {
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 8px 4px -8px #a9a9a9, inset -8px 0 4px -8px #a9a9a9, inset 8px 0 4px -8px #a9a9a9;
}

.compare-table thead tr td {

    background-color: #ebebeb;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}

.compare-table tbody tr.selected td {
    background-color: #e5f3f8;
}

.compare-table thead tr th
{
    background-color:#ececec;
    background-repeat:repeat;
    background-position:top left;
    line-height:1.5em;
    text-align: left;
}

.compare-table thead tr td
{
    background-color:#dcdcdc;
}

.compare-table thead tr td:first-child,
.compare-table tbody tr td:first-child
{
    box-shadow:inset 8px 0px 4px -8px #a9a9a9;
}

.compare-table tbody tr:last-of-type td:first-of-type {
    box-shadow: inset 8px 0px 4px -8px #a9a9a9, inset 0 -8px 4px -8px #a9a9a9;
    border-radius: 0 0 0 5px;
}

.compare-table tbody tr:last-of-type td:last-of-type {
    box-shadow: inset -8px 0px 4px -8px #a9a9a9, inset 0 -8px 4px -8px #a9a9a9;
    border-radius: 0 0 5px 0;
}

.compare-table tbody tr:last-of-type td {
    box-shadow: inset 0 -8px 4px -8px #a9a9a9;
}

.compare-table .compare-footer-tools {
    margin: 1em 0;
}

*/