


$img-folder-path: "../img/";



$actionmenu-icon-sprite: "actionmenu-icon-sprite.png";
$arrow-down: "arrow-down.png";
$arrow-right: "arrow-right.png";
$arrow-sorting: "arrow-sorting.png";
$arrow-up: "arrow-up.png";
$arrow_up: "arrow_up.png";

$breadcrumb-arrow: "breadcrumb-arrow.png";
$breadcrumb-home: "breadcrumb-home.png";




/* color */
$link-color: #149DCA;
$link-color-hover: #000;
$link-color-active: #000;
$link-color-visited: #149DCA; 

/* font-size */
$base-font-size-pixel: 13px;
$base-font-size: 13; //in pixels



