
/*** Form elements
************************************************/

/*** Fieldset
**********************************/

fieldset {

    border: none;
    padding: 0px;

    legend {
        padding: 0px;
    }

    small {
        display: block;
    }

    hr {
        margin: 0.5em 0px;
    }
}






/***  Label
**********************************/

label, .label {
    line-height: 2em;
}

/***  Input(checkbox), Input(radio)
**********************************/

.js-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background-image: url(../img/checkbox-sprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}

.js-checkbox:hover,
.js-checkbox.hover {
    background-position: -24px 0px;
}

.js-checkbox.selected {
    background-position: -48px 0px;
}

.js-checkbox.focus {
    background-position: 0px -24px;
}

.js-checkbox.focus:hover,
.js-checkbox.focus.hover {
    background-position: -24px -24px;
}

.js-checkbox.focus.selected {
    background-position: -48px -24px;
}

.js-checkbox.disabled {
    background-position: -0px -48px;
}

.js-checkbox.selected.disabled {
    background-position: -48px -48px;
}

.js-radio {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background-image: url(../img/radio-sprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}

.js-radio:hover,
.js-radio.hover {
    background-position: -24px 0px;
}

.js-radio.selected {
    background-position: -48px 0px;
}

.js-radio.focus {
    background-position: 0px -24px;
}

.js-radio.focus:hover,
.js-radio.focus.hover {
    background-position: -24px -24px;
}

.js-radio.focus.selected {
    background-position: -48px -24px;
}

.js-radio.disabled {
    background-position: -0px -48px;
}

.js-radio.selected.disabled {
    background-position: -48px -48px;
}

.js-checkbox.disabled,
.js-radio.disabled {
    cursor: default;
}

/*** Input(text), Select
**********************************/

.field-container-select {
    padding: 0px 2px 0px 0px;
}

.field-container-text {
    padding: 0px 0.923em 0px 0px;
}

.field-container-select select,
.field-container-text input[type="text"] {

}

/*** Field container radio
************************************************/

.field-container-radio {

    input[type="radio"] {
        margin-right: 5px;
    }

    div {
        position: relative;
        top: -3px;

        small {
            margin-left: 24px;
            padding-bottom: 5px;
        }
    }
}


/*** Form row structure
************************************************/

.form-row {
    clear: both;
}

.form-row-label {
    float: left;
    width: 173px;
    text-align: right;
}

.form-row-content {
    float: left;
}

/*** Form item structure
************************************************/

.form-item {
    clear: both;
}

.form-item-label {
    color: #000000;
}



/*** Form item row
************************************************/
.form-item-row {
    .form-item {
        display: inline-block;
        padding-right: 1em;
    }
}

/*** Search result
************************************************/

.search-result {
    
    .result {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-right: 0 !important;
        float: left;
        width: 70%;

        li {
            padding-right: 2em;
        }
    }

    .result-options {
        padding: 0;
        margin: 0;
        width: 30%;
        float: left;
    }
}

/*** Custom form styles
************************************************/

 .table-field-label {
    display:block;
    padding-top:8px;

    &.small {
        padding-top: 3px;
    }
 }

 .form-label-cell {
    width:195px;
    padding:5px 0px;
    padding-right:1em;
    text-align:right;  
 }

.form-field-cell {
    width:385px;
    padding:5px 0px;
}

.field-text-containerbox {
    padding:0px 12px 0px 0px;

    input.text {
        width:100%;
    }
}

.field-search-containerbox {
    padding:0px 32px 0px 0px;

    input.text {
        width:100%;
    }
}

.field-select-containerbox {
    padding:0px 0px 0px 0px;

    select {
        width:100%;
    }
}

.field-textarea-containerbox {
    padding:0px 2px 0px 0px;
    textarea {
        width:100%;
    }
}

.tagset {
    padding:5px 0px 10px 0px;

    .tag {
        display:inline-block;
        line-height:18px;
        margin:0px 7px 0px 0px;

        .remove {
            vertical-align:middle;
            display:inline-block;
            width:12px;
            height:13px;
            margin:0px 0px 0px 5px;
            background-image:url(../img/tag-delete-icon.png);
            background-repeat:no-repeat;
            background-position:center left;
            cursor:pointer;
        }
    }
}