



/*** Basic styles
**************************************************************/

h1, h2, h3, h4,
.h1, .h2, .h3, .h4
{
    font-weight:bold;
    padding:0px;
    margin:1em 0px 0.5em 0px;
}

h1, .h1
{
    font-size:17px;
}

h2, .h2
{
    font-size:15px;
}








/*** Misc
************************************************/

 .infonotice
{
    background-color:#fef3d3;
    border:none;
    border-radius: 3px 3px 3px 3px;
    padding:0.7em 1em;
    margin:0.5em;
    box-shadow: 1px 1px 2px 0 #5f5f5f;
}


 .containerbox
{
    margin:18px;
    border: 1px solid #E8E8E8;
    border-radius: 3px 3px 3px 3px;
    background-color:#ffffff;
}

 .containerbox.lightblue
{
    background-color:#F1F6F7;
}

 .containerbox.lightgrey
{
    background-color:#eeeeee;
}

 .fillbox
{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}




/*** Wrapper
**************************************************************/

#viewport {
    position:relative;
}

#wrapper {
    min-width: 960px;
    max-width: 1280px;
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #DCDCDC;
    border-top-width: 0;
    margin: 0 auto;
    padding: 0 0 10px;
}




/*** Siteheader
************************************************/
#siteheader {
    
    background: url("../../img/navigation-divider.jpg") repeat-x scroll left bottom #F8F8F8;
    padding: 10px 0;
    height:38px;
    position:relative;

     .primarylinks {
        font-size:15px;
        position:absolute;
        bottom:18px;
        left:18px;

        a {
            color:#000000;
            text-decoration:none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

     .secondarylinks {
        font-size:13px;
        position:absolute;
        bottom:18px;
        right:18px;

        a {
            color:#000000;
            text-decoration:none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/*** Footer
************************************************/

#footer {

    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    clear: both;

    .footer-container {
        background: none repeat scroll 0 0 #DCDCDC;
        border: 1px solid #DCDCDC;
        border-radius: 3px 3px 3px 3px;
        margin: 0.625%;
        padding: 10px 0;
    }
}






/*** Action menu
************************************************/


 ul.actionmenu,
 ul.itemtree ul.actionmenu
{
    display:block;
    margin:0px;
    background:#DFF5FC;
    background: -moz-linear-gradient(center top , #DFF5FC, #EBFAFF) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 2px 1px #A2A2A2;
    overflow: hidden;
    padding: 5px 0;
    width:180px;
    z-index: 10;
}


 ul.actionmenu li,
 ul.itemtree ul.actionmenu li
{
    float:none;
    padding: 0px 0px 5px 0px;
}


 ul.actionmenu li a,
 ul.itemtree ul.actionmenu li a
{
    display:block;
    line-height:16px;
    border:none;
    padding:0px 20px;
    margin:0px;
    color: #0C566E;
    text-decoration: none;
    box-shadow:none;
}


 ul.actionmenu li a:hover,
 ul.actionmenu li a.current,
 ul.itemtree ul.actionmenu li a:hover,
 ul.itemtree ul.actionmenu li a.current
{
    background-color:#feedbd;
}

 .actionmenu-icon
{
    position:relative;
    display:inline-block;
    vertical-align:bottom;
    width:25px;
    height:25px;
    background-image:url(../../img/actionmenu-icon-sprite.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;
}

 .actionmenu-icon.hover,
 .actionmenu-icon.open
{
    background-position:center right;
}

 .actionmenu-icon .actionmenu
{
    position:absolute;
    left:0px;
    top:25px;
}



/*** Form - Custom styles
************************************************/

 .table-field-label
{
    display:block;
    padding-top:8px;
}

 .table-field-label.small
{
    padding-top:3px;
}

 .form-label-cell
{
    width:195px;
    padding:5px 0px;
    padding-right:1em;
    text-align:right;
}

 .form-field-cell
{
    width:385px;
    padding:5px 0px;
}

 .field-text-containerbox
{
    padding:0px 12px 0px 0px;
}

 .field-text-containerbox input.text
{
    width:100%;
}

 .field-search-containerbox
{
    padding:0px 32px 0px 0px;
}

 .field-search-containerbox input.text
{
    width:100%;
}


 .field-select-containerbox
{
    padding:0px 0px 0px 0px;
}

 .field-select-containerbox select
{
    width:100%;
}


 .field-textarea-containerbox
{
    padding:0px 2px 0px 0px;
}

 .field-textarea-containerbox textarea
{
    width:100%;
}

 .tagset
{
    padding:5px 0px 10px 0px;
}
 .tagset .tag
{
    display:inline-block;
    line-height:18px;
    margin:0px 7px 0px 0px;
}
 .tagset .tag .remove
{
    vertical-align:middle;
    display:inline-block;
    width:12px;
    height:13px;
    margin:0px 0px 0px 5px;
    background-image:url(../../img/tag-delete-icon.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;
}


/*** Collapser
************************************************/

 .collapsible
{
    position:relative;
    margin-left:32px;
    min-height:2em;
}

 .collapsible .collapser,
 ul.itemtree li .collapser
{
    position:absolute;
    left:-26px;
    top:0px;
    width:20px;
    height:20px;
    background-image:url(../../img/itemtree-collapse-sprite.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;
}

 .collapsible.collapsed .collapser,
 ul.itemtree li.collapsed .collapser
{
    background-position:center right;
}

 .collapsible.collapsed .collapsing-content
{
    display:none;
}


/*** Itemlist
************************************************/

 .itemlist
{
    padding:0px;
}

 .itemlist  li
{
    margin:4px 0px;
    list-style:none;
}

 .itemlist .label
{
    display:inline-block;
    height:25px;
    line-height:25px;
}

