




/*** Popups
************************************************/
.popup-overlay {
    background-color: #000;
    opacity:0.4;
    filter: alpha(opacity=40);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#popup {
    margin:0px auto;
    background:#ffffff;
    width:50%;
    height:350px;
    position:relative;
    padding:10px;
    
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 2px 0 #5f5f5f;
    background-color:#f9f9f9;

    .close {
        display:block;
        position:absolute;
        top:5px;
        right:5px;
        width:16px;
        height:17px;

        
        background-image:url(../img/popup-close-icon.png);
        background-repeat:no-repeat;
        background-position:center center;
        cursor:pointer;
    }

    .popup-content {
        display: inline-block;
    }

    .tagset .tag {
        margin-bottom: 7px;
    }
}

.popup {
    display: none;
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 1000;
    max-width: 900px;

    header {
        background-color: #eee;    
        border-bottom: 1px dotted #ccc;
        padding: 0.8em;

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        > div {
            padding: 0 0.8em;
        }

        h3 {
            margin: 0;
        }

        a.close {
            background-image: url('../../img/close-icon.png');
            background-repeat: no-repeat;
            background-position: left top;
            width: 16px;
            height: 17px;
            float: right;
        }


    }
}


/*** Tabsheet
************************************************/
.tabsheets {
    background-color:#ffffff;
    border:solid 2px #bdbdbd;
    padding:10px;
}

.tabsheet {
    display:none;
}

.tabs {

    .tab {
        color: #3E3E3E;
        background-color:#ffffff;
        display:inline-block;
        border:solid 1px #bdbdbd;
        padding:1px;
        text-decoration:none;
        text-shadow: 0 1px 0 #FFFFFF;
        position: relative;
        top:1px;

        span {
            display:block;
            padding:0px 20px;
            height:36px;
            line-height:36px;
            background: #f6f6f6;
            @include background-gradient-from-top-to-bottom(linear, #f5f5f5, #c6c6c6);
        }

        &:hover span {
            background: #c6c6c6;
            @include background-gradient-from-top-to-bottom(linear, #c6c6c6, #f5f5f5);
        }
        
        
    }

    .tab.current {
        border-top-width: 2px;
        border-right-width: 2px;
        border-left-width: 2px;
        border-bottom-width:0px;
        padding-bottom:2px;
        position: relative;
        top:2px;

        span {
            background: white;
            @include background-gradient-from-top-to-bottom(linear, #f5f5f5, #fff);
        }
    }
    
}



/*** Pagination
************************************************/

.pagination a {
    text-decoration: none;
}

/*** Breadcrumbs
************************************************/

#breadcrumbs {
    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                color: #149ECB;

                &:hover,
                &:active {
                    @include text-shadow(0,0,3px,#ccc);
                }
            }

            &:last-of-type {

                a {
                    color: #3e3e3e;
                }

                span {
                    background-image: none;
                }
            }

            span {
                padding-left: 8px;
                padding-right: 16px;
                background-image: url(../img/breadcrumb-arrow.png);
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
    }
}



/*** Application-options
**************************************************************/
.application-options {
    padding-bottom: 20px;

    .table-container {
        background: #eee;
        box-shadow: 0 0 8px 0 #888;
        border: 3px solid white;
        border-radius: 4px;

    }
}

.application-option-info {
    padding-bottom: 20px;
}


/*** Mandatory
************************************************/
.mandatory:after {
    content: " *";
    color: red;
}



/*** Theme
************************************************/
.theme .theme-header {
    background: #eee;
    padding: 0.5em;
}


/*** Hidable
************************************************/
.hider-button {
    padding-left: 15px;
    background: transparent url('../../resources/img/arrow-right.png') no-repeat left top;
}


/*** Foldertree
************************************************/

.foldertree {
    li {
        list-style:none;
        position:relative;
        margin:7px 0px;

        .folder {
            position:absolute;
            top:0px;
            left:-23px;
            display:inline-block;
            width:17px;
            height:14px;
            background-image:url(../img/foldertree-icon-sprite.png);
            background-repeat:no-repeat;
            background-position:center left;
            cursor:pointer;
        }

        .file {
            position:absolute;
            top:0px;
            left:-23px;
            display:inline-block;
            width:12px;
            height:14px;
            background-image:url(../img/foldertree-icon-sprite.png);
            background-repeat:no-repeat;
            background-position:center center;
        }
    }

    li.closed ul {
        display: none;
    }

    li.closed .folder {
        background-position: center right;
    }
}




/*** Itemtree
************************************************/

ul.itemtree {
    list-style-type: none;

    li {
        position:relative;
        margin:0.3em 0px;

        span .label {
            font-weight:bold;
            color:#000000;
        }

        .label {
            display:inline-block;
            line-height:24px;
            height:24px;
            vertical-align:middle;
        }

        .sim-checkbox {
            display:inline-block;
            vertical-align:middle;
        }

        .actionmenu-icon {
            display:inline-block;
            vertical-align:middle;
        }

        &.collapser {
            position:absolute;
            left:-26px;
            top:0px;
            width:20px;
            height:20px;
            background-image:url(../img/itemtree-collapse-sprite.png);
            background-repeat:no-repeat;
            background-position:center left;
            cursor:pointer;
        }

        &.collapsed {

            .collapser {
                background-position:center right;
            }
        }


    }

    ul {
        list-style-type:none;
        padding:0px 0px 0px 24px;   
    }

    li.collapsed {
        ul {
            display: none;
        }

        .collapser {
            background-position:center right;
        }
    }

    ul.actionmenu {
        display:block;
        margin:0px;
        background:#DFF5FC;
        background: -moz-linear-gradient(center top , #DFF5FC, #EBFAFF) repeat scroll 0 0 transparent;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 1px 1px 2px 1px #A2A2A2;
        overflow: hidden;
        padding: 5px 0;
        width:180px;
        z-index: 10;

        li {
            float:none;
            padding: 0px 0px 5px 0px;

            a {
                display:block;
                line-height:16px;
                border:none;
                padding:0px 20px;
                margin:0px;
                color: #0C566E;
                text-decoration: none;
                box-shadow:none;

                &:hover,
                &.current {
                    background-color:#feedbd;
                }


            }
        }
    }

}

/*** Actionmenu
************************************************/
 ul.actionmenu {
    display:block;
    margin:0px;
    background:#DFF5FC;
    background: -moz-linear-gradient(center top , #DFF5FC, #EBFAFF) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 2px 1px #A2A2A2;
    overflow: hidden;
    padding: 5px 0;
    width:180px;
    z-index: 10;

    li {
        float:none;
        padding: 0px 0px 5px 0px;

        a {
            display:block;
            line-height:16px;
            border:none;
            padding:0px 20px;
            margin:0px;
            color: #0C566E;
            text-decoration: none;
            box-shadow:none;

            &:hover,
            &.current {
                background-color:#feedbd;
            }


        }
    }
 }

 .actionmenu-icon {
    position:relative;
    display:inline-block;
    vertical-align:bottom;
    width:25px;
    height:25px;
    background-image:url(../img/actionmenu-icon-sprite.png);
    background-repeat:no-repeat;
    background-position:center left;
    cursor:pointer;

    &.hover,
    &.open {
        background-position:center right;
    }

    .actionmenu {
        position:absolute;
        left:0px;
        top:25px;
    }
 }

/*** Datepicker
************************************************/

.datepicker {
    display:inline-block;
    vertical-align:middle;
    width:34px;
    height:37px;
    line-height:37px;
    background-image:url(../img/datepicker-icon-sprite.png);
    background-position:left center;
    background-repeat:no-repeat;
    position:relative;
    margin:0px 0px 0px 5px;

    &:hover {
        background-position: right center;
    }

}

.datepicker.active {
    background-position: right center;
}

.datepicker.small {
    width:22px;
    height:24px;
    line-height:24px;
    background-image:url(../img/datepicker-icon-sprite-small.png);
    margin-bottom:5px;
}



/*** Sidebar
************************************************/

#sidebar {
    position:relative;
    width:100%;
    height:100%;
    padding:0px 0px 0px 0px;
    min-height:700px;
    width:32px;

    &.expand {
        width:202px;
        padding:0px 32px 0px 0px;

        .expanded-content {
            display: block;
        }
    }

    .expander {
        position:absolute;
        top:0px;
        right:1px;
        display:block;
        border:solid 1px #e4e4e4;
        background-color:#f1f6f7;
        width:22px;
        padding:0px 0px 0px 8px;
        height:100%;
        cursor:pointer;
        text-decoration:none;

        .arrows {
            font-size:9px;
            margin:0px 0px 0px 2px;
        }

        .label {
            position:relative;
            display:block;
            width:22px;
            height:150px;

            .rotate {
                position:relative;
                top:150px;
                left:0px;
                text-align:center;
                width:150px;
                height:22px;
                display:block;
                
                /* Rotate from top left corner (not default) */
                -webkit-transform-origin: 0 0;
                -moz-transform-origin:    0 0;
                -ms-transform-origin:     0 0;
                -o-transform-origin:      0 0;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            }

            .nonrotate {
                display:none;
            }
        }
    }


    .expanded-content {
        display:none;
        position:absolute;
        width:200px;
        border:solid 1px #e4e4e4;
        border-right-width:0px;
        background-color:#f1f6f7;
        padding:0px 0px 0px 0px;
        height:100%;
    }
}

.ie7  #sidebar .expander .label,
.ie8  #sidebar .expander .label,
.ie9  #sidebar .expander .label {
    height:280px;

    .rorate {
        display: none;
    }

    .nonrotate {
        display:block;
        padding: 5px 0;
    }
}


/*** Organisationmenu
************************************************/

ul.orgmenu {
    padding: 0;

    li {
        list-style: none;
        position: relative;
        margin: 0;

        ul {
            padding: 0;

            a {
                padding-left: 3em;
            }
        }

        &.closed {

            ul {
                display: none;
            }

            .folder {
                background-position:center right;
            }

            .file {
                position:absolute;
                top:0px;
                left:-23px;
                display:inline-block;
                width:12px;
                height:14px;
                background-image:url(../img/foldertree-icon-sprite.png);
                background-repeat:no-repeat;
                background-position:center center;
            }
        }

        .folder {
            position:absolute;
            top:5px;
            left:5px;
            display:inline-block;
            width:17px;
            height:14px;
            background-image:url(../img/foldertree-icon-sprite.png);
            background-repeat:no-repeat;
            background-position:center left;
            cursor:pointer;
        }
    }

    a {
        display:block;
        padding:3px 0px 3px 2em;
        border:solid 1px transparent;
        border-left-width:0px;
        border-right-width:0px;
        text-decoration:none;

        &:hover {
            border-top-color:#d5ecf3;
            border-bottom-color:#8fb5c2;
            background: -moz-linear-gradient(center top , #c5e5ef, #9bd4e6) repeat scroll 0 0 transparent;
        }
    }
}

/*** Collapser
************************************************/
.collapsible {

    position:relative;
    margin-left:32px;
    min-height:2em;

    .collapser {
        position:absolute;
        left:-26px;
        top:0px;
        width:20px;
        height:20px;
        background-image:url(../img/itemtree-collapse-sprite.png);
        background-repeat:no-repeat;
        background-position:center left;
        cursor:pointer;
    }

    &.collapsed {
        .collapser {
            background-position:center right;
        }

        .collapsing-content {
            display: none;
        }
    }
}


/*** Itemlist
************************************************/

.itemlist {
    padding: 0;

    li {
        margin: 4px 0;
        list-style: none;
    }

    .label {
        display:inline-block;
        height:25px;
        line-height:25px;
    }
}



/*** Misc
************************************************/

 .infonotice
{
    background-color:#fef3d3;
    border:none;
    border-radius: 3px 3px 3px 3px;
    padding:0.7em 1em;
    margin:0.5em;
    box-shadow: 1px 1px 2px 0 #5f5f5f;
}


 .containerbox
{
    margin:18px;
    border: 1px solid #E8E8E8;
    border-radius: 3px 3px 3px 3px;
    background-color:#ffffff;
}

 .containerbox.lightblue
{
    background-color:#F1F6F7;
}

 .containerbox.lightgrey
{
    background-color:#eeeeee;
}

 .fillbox
{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

/***  Help link
************************/

.helplink {
    float: right;
    display: block;
    width: 20px;
    height: 21px;

    color: transparent;
    background-image: url('../img/help-icon-sprite_idle-hover-selected-disabled.png');
    background-position: 0px center;
    background-repeat: no-repeat;

    &:hover {
        background-position: -20px center;
    }

    &:active,
    &:focus {
        background-position: -40px center;
    }

    &:disabled,
    &.disabled {
        background-position: -60px center;
    }
}