
html, body
{
	margin:0px;
}

body{
	font-family: 'PT Sans', helvetica, arial, sans-serif;
	font-size:0.813em;
	background-color:#ffffff;
	color:#3e3e3e;
	line-height:1.3em;
}

input, textarea, select, option
{
	font-family:inherit;
	font-size:inherit;
}

/*** Basic styles
**************************************************************/

h1, h2, h3, h4,
.h1, .h2, .h3, .h4
{
	display:block;
	font-weight:bold;
	color:#000000;
}

h1, .h1
{
	font-size:1.846em;
}

h2, .h2
{
	font-size:1.385em;
}

h3, .h3
{
	font-size:1.154em;
}

h4, .h4
{
	font-size:1em;
	text-transform:uppercase;
	color:;
}

b, strong, .bold 
{ 
	font-weight: bold; 
}


/*** Links
************************************************/

a
{
	color:#149dca;
}



/*** Lists
************************************************/



/*** Table
************************************************/


/*** Images
************************************************/

a img
{
	border:none;
}

img.set-right
{
	margin-left:2em;
}

img.set-left
{
	margin-right:2em;
}


/*** Misc
************************************************/

hr
{
	display:block;
	margin:1.5em 0px;
	height:1px;
	width:100%;
	border:none;
	background-color:#feba00;
}

fieldset hr
{
	margin:0.5em 0px;
}


.clear
{
	clear:both;
}


.set-left{float:left;}
.set-right{float:right;}

.left-intend-1 { padding-left: 10px; }
.left-intend-2 { padding-left: 20px; }
.left-intend-3 { padding-left: 30px; }

.module {
	padding-bottom: 20px;
}

.pagetitle {
	margin-top: 40px;
	margin-bottom: 40px;
}


/*** Structure
**************************************************************/

#viewport
{
	
}

#site
{
	background: #ffffff;
}

#siteheader
{
   background-color:#ffffff;
}

/*** Grid
************************************************/

.grid16-4
{
    float: left;
    margin-left: 0.625%;
    margin-right: 0.625%;
    width: 23.75%;
}

.grid16-6 
{
	float: left;
	margin-left: 0.625%;
	margin-right: 0.625%;
	width: 36.25%;
}

.grid16-8 {
    float: left;
    margin-left: 0.625%;
    margin-right: 0.625%;
    width: 48.75%;
}

.grid16-10
{
	float: left;
	margin-left: 0.625%;
    margin-right: 0.625%;
    width: 61.25%;
}

.grid16-12
{
    float: left;
    margin-left: 0.625%;
    margin-right: 0.625%;
    width: 73.75%;
}

.grid16-16 {
	float: left;
	margin-left: 0.625%;
    margin-right: 0.625%;
    width: 98.75%;
}

.width-25 {
	width: 25%;
}

.width-50 {
	width: 50%;
}

.width-75 {
	width: 75%;
}






