.vapaasanahakutulos {
    background: white;
}

.minimal {
    list-style-type: none;
    padding-left: 0;
}

.form-row ul {
    margin: 0;
}

.toprow {
    padding-top: 20px;
}

.toprow h1 {
    margin: 0;
}

.toprow .set-right {
    padding-left: 20px;
}

#searchfield {
    height: 50px;
    width: 100%;
    background: transparent url('../img/table-header-bg.png') repeat left top;
}