Ansökan: $applicationSystemId
Sökande: $applicant
Ansökningsnummer: $applicationId
Datum och lagringstidpunkt för ansökan: $applicationDate


Dina ansökningsmål:

#foreach ($preference in $preferences)
$preference

#end

Logga in på tjänsten Min Studieinfo på Studieinfos framsida ifall du vill ändra dina ansökningsmål. Ändringarna bör göras under ansökningstiden.
Vid behov kan du skriva ut din ansökan i Min Studieinfo -tjänsten.
Kontakta ansökningsservicen vid något av de universitet eller yrkeshögskolor du sökt till, ifall du inte kan använda tjänsten.

Det här är ett automatiskt e-postmeddelande. Svara inte på detta. 
