<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body>
<div>
    <p>
        Ansökan: $applicationSystemId <br />
        Sökande: $applicant <br />
        Ansökans nummer: $applicationId <br />
        Ansökans datum och lagringstid: $applicationDate
    </p>

    <p>
        Dina ansökningsönskemål: <br /><br />

        #foreach ($preference in $preferences)
            $preference <br />

        #end
    </p>

    <p>
        Ändingarna i din ansökan har mottagits. Under ansökningstiden kan du granska din ansökan och göra ändringar via
        följande länk: <a href="{{verification-link}}">{{verification-link}}</a>. Länken är i kraft till
        {{expires}}.
    </p>

    #if (!$attachmentRequests.isEmpty())
        <p>
            Bilagor: <br /><br />

        <table>
            <tr>
                <th>$lomakeTulostusLiite</th>
                <th>$lomakeTulostusLiiteToimitusosoite</th>
                <th>$lomakeTulostusLiiteDeadline</th>
            </tr>
            #foreach ($attachment in $attachmentRequests)
                <tr>
                    <td>
                        ${attachment.name}<br />
                        ${attachment.header}<br/>
                        ${attachment.description}
                    </td>
                    <td>
                        ${attachment.recipient}<br/>
                        ${attachment.streetAddress}<br/>
                        ${attachment.streetAddress2}<br/>
                        ${attachment.postalCode}<br/>
                        ${attachment.postOffice}<br/>
                        ${attachment.emailAddress}
                    </td>
                    <td>
                        ${attachment.deadline}
                        ${attachment.deliveryNote}
                    </td>
                </tr>
            #end
        </table>
        </p>
    #end

    <p>Svara inte på detta meddelande, det har skickats automatiskt.</p>
</div>
</body>
</html>