Ansökan: $applicationSystemId
Sökande: $applicant
Ansökningsnummer: $applicationId
Datum och lagringstidpunkt för ansökan: $applicationDate


Dina ansökningsönskemål:

#foreach ($preference in $preferences)
$preference

#end

Logga in på tjänsten Min Studieinfo på Studieinfos framsida ifall du vill ändra dina ansökningsönskemål. Ändringarna bör göras under ansökningstiden.
Kontakta ansökningsservicen vid något av de universitet eller yrkeshögskolor du sökt till, ifall du inte kan använda tjänsten.

Du kan ge feedback på ansökningsblanketten genom att svara på detta frågeformulär: https://www.survette.com/37418-30439-671@hakijakysely1&hakijakysely1

Det här är ett automatiskt e-postmeddelande. Svara inte på detta. 
