<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body style="#include("email/email_body_css.vm")">
<div>
    <p>
        Haku: $applicationSystemId <br />
        Hakija: $applicant <br />
        Hakemusnumero: $applicationId <br />
        Hakemuksen päivämäärä ja tallennusaika: $applicationDate
    </p>

    #if ($nonSecurelinkEmail)
        <p>
            Hakemuksesi on vastaanotettu. 
        <p/>
        <p>
            Jos sinulla on verkkopankkitunnukset, mobiilivarmenne tai sähköinen henkilökortti ja haluat tehdä muutoksia hakemukseesi, voit tehdä muutoksia hakuaikana Oma Opintopolku -palvelussa.
        <p/>
        <p>
            Oma Opintopolku -palvelussa voit myös päivittää yhteystietojasi; nähdä valintojen tulokset ja ottaa opiskelupaikan vastaan.
        </p>
    #else
        <p>
            Hakemuksesi on vastaanotettu. Voit muuttaa hakutoiveitasi seuraavan linkin kautta: <a href="{{verification-link}}">{{verification-link}}</a>
            Linkki on henkilökohtainen.
        </p>
        <p>
            Voit muokata hakutoiveita $expires asti. </p><p>Jos sinulla on
            verkkopankkitunnukset, mobiilivarmenne tai sähköinen henkilökortti, voit vaihtoehtoisesti kirjautua sisään
            Opintopolku.fi:ssä, ja tehdä muutoksia hakutoiveisiisi Oma Opintopolku -palvelussa hakuaikana. Oma Opintopolku
            -palvelussa voit hakutoivemuutosten lisäksi muokata hakutoiveisiin liittyviin kysymyksiin antamiasi vastauksia,
            päivittää yhteystietojasi; nähdä valintojen tulokset ja ottaa opiskelupaikan vastaan. Voit tulostaa hakemuksesi
            tarvittaessa Oma Opintopolku -palvelussa.
        </p>
    #end

    <h4>Hakutoiveesi</h4>
    <p>
        #foreach ($preference in $preferences)
        $preference <br />
        #end
    </p>

    <h4>Liitepyynnöt</h4>
    #parse("email/email_attachment_requests.vm")
    
    <p>Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.</p>
</div>
</body>
</html>
