<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body style="#include("email/email_body_css.vm")">
<div>
    <p>
        Ansökan: $applicationSystemId <br />
        Sökande: $applicant <br />
        Ansökans nummer: $applicationId <br />
        Ansökans datum och lagringstid: $applicationDate
    </p>

    #if ($nonSecurelinkEmail)
        <p>
            Ändringarna i din ansökan har mottagits.
        </p>
    #else
        <p>
            Ändringarna i din ansökan har mottagits. Under ansökningstiden kan du ändra dina ansökningsönskemål via följande länk: <a href="{{verification-link}}">{{verification-link}}</a>. Länken är i kraft till
            ${expires}. Länken är personlig.
        </p>
    #end

    <h4>Dina ansökningsönskemål</h4>
    <p>
        #foreach ($preference in $preferences)
            $preference <br />
        #end
    </p>

    <h4>Bilagor</h4>
    #parse("email/email_attachment_requests.vm")
    
    
    <p>Svara inte på detta meddelande, det har skickats automatiskt.</p>
</div>
</body>
</html>
