<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body>
<div>
    <p>
        Haku: $applicationSystemId <br />
        Hakija: $applicant <br />
        Hakemusnumero: $applicationId <br />
        Hakemuksen päivämäärä ja tallennusaika: $applicationDate
    </p>

    <p>
        Hakutoiveesi: <br /><br />

        #foreach ($preference in $preferences)
        $preference <br />

        #end
    </p>

    <p>
        Hakemuksesi on vastaanotettu. Jos haluat muuttaa hakutoiveitasi tai päivittää yhteystietojasi,
        voit hakuaikana tehdä muutoksia seuraavan linkin kautta: <a href="{{verification-link}}">{{verification-link}}</a>.
        Linkki on voimassa {{expires}} asti. Säilytä tämä viesti. Muokkauslinkkiä ei voi tilata
        uudelleen.
    </p>

    <p>
        Jos sinulla on verkkopankkitunnukset, mobiilivarmenne tai sähköinen henkilökortti,
        voit vaihtoehtoisesti kirjautua sisään Opintopolku.fi:ssä, ja tehdä muutoksia hakutoiveisiisi
        Oma Opintopolku -palvelussa hakuaikana. Oma Opintopolku -palvelussa voit hakutoivemuutosten
        lisäksi muokata hakutoiveisiin liittyviin kysymyksiin antamiasi vastauksia, päivittää
        yhteystietojasi; nähdä valintojen tulokset ja ottaa opiskelupaikan vastaan.
    </p>

    #if ($discretionary)
        <p>
            Hait harkintaan perustuvassa valinnassa. Sinun tulee toimittaa hakuajan päättymiseen mennessä
            oppilaitokseen seuraavat tiedot: tulostettu hakemus sekä perustelut ja todistukset, joihin vetoat.
        </p>
    #end

    #if ($athlete)
        <p>
            Haet urheilijana ammatilliseen koulutukseen. Lisätietoja löydät osoitteesta<br /><br />

            <a href="https://opintopolku.fi/liitteet/Urheiluoppilaitosten_hakulomake_2015.pdf">
                https://opintopolku.fi/liitteet/Urheiluoppilaitosten_hakulomake_2015.pdf
            </a>
        </p>
    #end

    #if ($musiikkiTanssiLiikuntaEducationCode)
        <p>
            Hait musiikki-, tanssi- tai liikunta-alan koulutukseen. Muista tarkistaa oppilaitoksen
            nettisivuilta, pitääkö sinun täyttää myös oppilaitoksen oma lisätietolomake. Lomakkeen
            voit tulostaa oppilaitoksen nettisivuilta, ja se on lähetettävä hakuaikana oppilaitokseen.
        </p>
    #end

    <p>Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.</p>
</div>
</body>
</html>