Haku: $applicationSystemId
Hakija: $applicant
Hakemusnumero: $applicationId
Hakemuksen päivämäärä ja tallennusaika: $applicationDate

Kiitos. Hakulomakkeesi on vastaanotettu.

Hakutoiveesi:

#foreach ($preference in $preferences)
$preference

#end

Tämä on automaattinen sähköpostiviesti. Älä vastaa tähän. Jos haluat muuttaa hakutoiveitasi, kirjaudu Oma Opintopolku -palveluun Opintopolun etusivulla, ja tee muutokset hakuajan kuluessa. 
Jos et voi käyttää palvelua, ota yhteyttä jonkin hakutoiveenasi olevan yliopiston tai ammattikorkeakoulun hakijapalveluihin.
