<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body style="#include("email/email_body_css.vm")">
<div>
    <p>
        Haku: $applicationSystemId <br />
        Hakija: $applicant <br />
        Hakemusnumero: $applicationId <br />
        Hakemuksen päivämäärä ja tallennusaika: $applicationDate
    </p>

    #if ($nonSecurelinkEmail)
        <p>
            Muutokset hakemukseesi on tallennettu.
        </p>
    #else
        <p>
            Muutokset hakemukseesi on tallennettu. Voit tehdä muutoksia hakutoiveisiisi seuraavan linkin kautta
            hakuaikana: <a href="{{verification-link}}">{{verification-link}}</a> Linkki on henkilökohtainen. Linkki on voimassa
            $expires asti.
        </p>
    #end

    <h4>Hakutoiveesi</h4>
    <p>
        #foreach ($preference in $preferences)
            $preference <br />
        #end
    </p>

    <h4>Liitepyynnöt</h4>
    #parse("email/email_attachment_requests.vm")

    <p>Anna palautetta Opintopolusta vastaamalla <a target="_blank" href="https://www.webropolsurveys.com/S/6C02CCDF4EB5AB86.par">kyselyyn</a>.</p>
    
    <p>Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.</p>
</div>
</body>
</html>
