<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <style type="text/css">
        #parse("email/email_common_css.vm")
    </style>
</head>
<body>
<div>
    <p>
        Ansökan: $applicationSystemId <br />
        Sökande: $applicant <br />
        Ansökningsnummer: $applicationId <br />
        Datum och lagringstidpunkt för ansökan: $applicationDate
    </p>

    <p>
        Dina ansökningsmål: <br /><br />

        #foreach ($preference in $preferences)
            $preference <br />

        #end
    </p>

    #parse("email/email_attachment_requests.vm")

    <p>
        Under ansökningstiden kan du ändra dina ansökningsönskemål och kontaktuppgifter via följande länk:: <a href="{{verification-link}}">{{verification-link}}</a>. Länken är i kraft ända till ${expires}. Du kan ändra dina kontaktuppgifter också efter änsökningstiden.
    </p>

    <p>Svara inte på detta meddelande, det har skickats automatiskt.</p>
</div>
</body>
</html>
