<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body>
<div>
    <p>
        Application: $applicationSystemId <br />
        Applicant: $applicant <br />
        Application number: $applicationId <br />
        Date and time of submission: $applicationDate
    </p>

    <p>
        You have applied to the following programmes: <br /><br />

        #foreach ($preference in $preferences)
            $preference <br />

        #end
    </p>

    #if (!$attachmentRequests.isEmpty())
        <p>
            Attachment requests: <br /><br />

        <table>
            <tr>
                <th>$lomakeTulostusLiite</th>
                <th>$lomakeTulostusLiiteToimitusosoite</th>
                <th>$lomakeTulostusLiiteDeadline</th>
            </tr>
            #foreach ($attachment in $attachmentRequests)
                <tr>
                    <td>
                        ${attachment.name}<br />
                        ${attachment.header}<br/>
                        ${attachment.description}
                    </td>
                    <td>
                        ${attachment.recipient}<br/>
                        ${attachment.streetAddress}<br/>
                        ${attachment.streetAddress2}<br/>
                        ${attachment.postalCode}<br/>
                        ${attachment.postOffice}<br/>
                        ${attachment.emailAddress}
                    </td>
                    <td>
                        ${attachment.deadline}
                            ${attachment.deliveryNote}
                    </td>
                </tr>
            #end
        </table>
        </p>
    #end

    <p>
        The changes to your application have been saved. You can change your study programme choices during the
        application period with the following link: <a href="{{verification-link}}">{{verification-link}}</a>. The link
        is valid until ${expires}. You can change your contact information also after the application period.
    </p>

    <p>This is an automatically generated email, please do not reply.</p>
</div>
</body>
</html>
