Application: $applicationSystemId
Applicant: $applicant
Application number: $applicationId
Submitted: $applicationDate



Application options:

#foreach ($preference in $preferences)
$preference

#end

Tämä on automaattinen sähköpostiviesti. Älä vastaa tähän. 
