<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body style="#include("email/email_body_css.vm")">
<div>
    <p>
        Ansökan: $applicationSystemId <br />
        Sökande: $applicant <br />
        Ansökans nummer: $applicationId <br />
        Ansökans datum och lagringstid: $applicationDate
    </p>

    #if ($nonSecurelinkEmail)
        <p>
            Ändringarna i din ansökan har mottagits.
        </p>
    #else
        <p>
            Ändringarna i din ansökan har mottagits. Under ansökningstiden kan du ändra dina ansökningsönskemål via följande länk: <a href="{{verification-link}}">{{verification-link}}</a>. Länken är i kraft till
            ${expires}. Länken är personlig.
        </p>
    #end

    <h4>Dina ansökningsönskemål</h4>
    <p>
        #foreach ($preference in $preferences)
            $preference <br />
        #end
    </p>

    #if (!$attachmentRequests.isEmpty())
    <h4>Bilagor</h4>
    #end
    #parse("email/email_attachment_requests.vm")
    
    #if ($discretionary)
        <p>
            Du sökte till utbildningen genom antagning på basis av utbildningsanordnarens prövning.
            Du bör skicka bilagor till läroanstalten under ansökningstiden.
        </p>
    #end

    #if ($athlete)
        <p>
            Du har sökt som idrottare. Kom ihåg att returnera tilläggsblanketten för idrottare direkt till läroanstalten. Tilläggsblanketten och tilläggsupgifter hittar du adressen<br /><br />

            <a href="https://storage.googleapis.com/valo-production/2017/12/ansokningsblankett-idrottsskolor-2018.pdf">
                https://storage.googleapis.com/valo-production/2017/12/ansokningsblankett-idrottsskolor-2018.pdf (pdf-fil)
            </a>
        </p>
    #end

    #if ($musiikkiTanssiLiikuntaEducationCode)
        <p>
            Du har sökt till utbildning inom musik-, dans-, eller idrottsbranschen. Kom ihåg att
            på läroanstaltens hemsida kontrollera om det förutom den egentliga gemensamma ansökan
            även krävs att du fyller i läroanstaltens egen tilläggsblankett.
        </p>
    #end


    <p>Ge feedback om Studieinfo genom att svara på <a href="https://link.webropolsurveys.com/S/6D9450D2760F3549" target="_blank">frågeformuläret</a>.<p>
    <p>Svara inte på detta meddelande, det har skickats automatiskt.</p>
</div>
</body>
</html>
