Ansökan: $applicationSystemId
Sökande: $applicant
Ansökans nummer: $applicationId
Ansökans datum och lagringstid: $applicationDate

Dina ansökningsönskemål:

#foreach ($preference in $preferences)
$preference

#end
#if ($discretionary)

Du sökte till utbildningen genom antagning på basis av utbildningsanordnarens prövning.
Du bör skicka följande bilagor till läroanstalten under ansökningstiden: en utskrift av
din ansökan och de bilagor samt motiveringar som du hänvisar till.

#end
#if ($athlete)

Du söker till yrkesutbildning som idrottare. Tilläggsuppgifter hittar du på adressen

https://opintopolku.fi/liitteet/Ansokningsblankett_idrottare_2015.xlsx

#end
#if ($musiikkiTanssiLiikuntaEducationCode)

Du har sökt till utbildning inom musik-, dans-, eller idrottsbranschen. Kom ihåg att
på läroanstaltens hemsida kontrollera om det förutom den egentliga gemensamma ansökan
även krävs att du fyller i läroanstaltens egen tilläggsblankett.

#end

Detta är ett automatiskt meddelande. Svara inte på detta meddelande. Om du vill
ändra på dina ansökningsönskemål, kontakta Studieinfos ansökningsrådgivning
under ansökningstiden (info@studieinfo.fi).
