#if (!$attachmentRequests.isEmpty())
<p>
    Liitepyynnöt: <br /><br />

<table>
    <thead>
    <tr>
        <th>$lomakeTulostusLiite</th>
        <th>$lomakeTulostusLiiteToimitusosoite</th>
        <th>$lomakeTulostusLiiteDeadline</th>
    </tr>
    </thead>
    <tbody style="vertical-align: top; text-align: left">
    #foreach ($attachment in $attachmentRequests)
        <tr>
            <td>
                ${attachment.name}<br />
                ${attachment.header}<br/>
                ${attachment.description}
            </td>
            <td>
                ${attachment.recipient}<br/>
                ${attachment.streetAddress}<br/>
                ${attachment.streetAddress2}<br/>
                ${attachment.postalCode}<br/>
                ${attachment.postOffice}<br/>
                ${attachment.emailAddress}
            </td>
            <td>
                ${attachment.deadline}
                ${attachment.deliveryNote}
            </td>
        </tr>
    #end
    </tbody>
</table>
</p>
#end
