<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body>
  <div>
    <p>{{subject}}</p>
    <p>Du har beställt en inloggningslänk till ansökningsblanketten:</p>
    <a href="{{verification-link}}">{{verification-link}}</a>
    <br/>
    <p>Ifall länken inte fungerar, kan du kopiera den och infoga den i webbläsarens adressfält. Om du använder en dator som är i allmänt bruk, bör du komma ihåg att tömma webbhistoriken efter att du använt datorn. </p>
    <p>Om du av misstag har fått det här e-postmeddelandet, kan du radera det. </p>
    <p>Förfallodatum: {{due_date}}</p>
    <p>Länken har beställts: {{submit_time}}</p>
    <p>Länken är i kraft fram till {{expires}}. Efter detta kan du logga in på nytt genom att beställa en ny länk till din e-post. <p>
    <p>Svara inte på detta meddelande – det har skickats automatiskt. </p>
  </div>
</body>
</html>
