<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body>
  <div>
    <p>Opintopolku - maksulinkki</p>
    <p><a href="{{verification-link}}">{{verification-link}}</a></p>
    <p>Pohjakoulutuksesi perusteella sinun pitää maksaa hakemuksen
      käsittelymaksu. Maksun suorittaminen on hakemuksen käsittelyn edellytys.
      Hakemuksen käsittelymaksu on lukukausikohtainen ja voit hakea samalla
      maksulla useammassa haussa. Käytä yllä olevaa linkkiä maksaaksesi
      hakemuksen käsittelymaksun. Jos olet jo maksanut hakemuksen
      käsittelymaksun, sinun täytyy todentaa se käyttämällä yllä olevaa
      linkkiä. Hakemuksen käsittelymaksu täytyy maksaa tai todentaa
      viimeistään: {{due_date}}. Jos maksua ei ole suoritettu tai todennettu
      määräaikaan mennessä, ei hakemustasi käsitellä.</p>
    <p>Jos linkki ei toimi, voit kopioida sen ja liittää sen selaimen
      osoitekenttään uudessa selainikkunassa. Jos käytät yleisessä käytössä
      olevaa tietokonetta, muista tyhjentää sivuhistoria poistuessasi
      koneelta.<p>
    <p>Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.</p>
  </div>
</body>
</html>
