<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body>
  <div>
    <p>Studyinfo - payment link</p>
    <p><a href="{{verification-link}}">{{verification-link}}</a></p>
    <p>Based on the study programme you are applying to and the
      qualification/qualifications you have stated as your educational
      background, you are required to pay the application fee. Your
      application will not be processed before the payment has been completed.
      The application fee is valid for one application period, and it covers
      all the applications that you make for study programmes that begin in
      the same semester. Use the link in this email to pay the application
      fee. If you have already paid the application fee you must verify it by
      using the link in this email. The application fee must be paid or
      verified by {{due_date}}. If the payment has not been completed or
      verified by the deadline, your application will not be processed.</p>
    <p>If the link above does not work, you can copy and paste the address
      into a new browser window. if you’re using a shared or public PC,
      remember to clear the browser history afterwards.</p>
    <p>This is an automatically generated email, please do not reply.</p>
  </div>
</body>
</html>
