<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
</head>
<body>
  <div>
    <p>{{subject}}</p>
    <p><a href="{{verification-link}}">{{verification-link}}</a></p>
    <p>
      På basis av din grundutbildning måste du betala handläggningsavgiften
      för ansökan. Ansökan behandlas inte före betalningen har utförts.
      Handläggningsavgiften för ansökan gäller för en termin och du kan söka i
      flera olika ansökningar med samma avgift. Använd länken ovan för att
      betala handläggningsavgiften för ansökan. Om du redan har betalat
      handläggningsavgiften för ansökan måste du bekräfta det genom länken
      ovan. Handläggningsavgiften för ansökan måste betalas eller bekräftas
      senast: {{due_date}}. Om betalningen inte har utförts eller bekräftats
      inom utsatt tid, kommer din ansökan inte att behandlas.
    </p>
    <p>
      Om länken inte fungerar kan du kopiera och klistra in den i
      webbläsarens adressfält i ett nytt webbläsarfönster. Om du använder en
      allmän dator, kom ihåg att tömma sidohistorian då du går bort från
      datorn.
    </p>
    <p>Svara inte på detta meddelande – det har skickats automatiskt.</p>
  </div>
</body>
</html>
