


<h1>Hakemus</h1>

Valtteri Vilenius

<table class="basicinfo-table">
	<tbody>
		<tr>
			<td>Hakemusnumero</td>
			<td>12345678</td>
			<td>Henkilötunnus</td>
			<td>170597-1235</td>
			<td>Puhelinnumero</td>
			<td>044 1234 567</td>
		</tr>
		<tr>
			<td>Hakemuksen tila</td>
			<td>Voimassa</td>
			<td>Oppijanumero</td>
			<td>204500</td>
			<td>Sähköpostiosoite</td>
			<td>valtteri.vilenius@gmail.com</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>Äidinkieli</td>
			<td>suomi</td>
			<td>Huoltajan sähköposti</td>
			<td>petteri.vilenius@gmail.com</td>
		</tr>
	</tbody>
</table>

</table>

<tabs>
	<pane title="Hakemus">
	

	


	<a href="#" class="button small float-right clear">Muokkaa</a>
	<h2>Henkilötiedot</h2>
	
<table class="basicinfo-table" style="width:auto;">
	<tbody>
		<tr>
			<td>Nimi*</td>
			<td>Virtanen Kari Pekka</td>
		</tr>
		<tr>
			<td>Kansalaisuus*</td>
			<td>Suomi</td>
		</tr>
		<tr>
			<td>Henkilötunnus*</td>
			<td>170597-1235</td>
		</tr>
		<tr>
			<td>Sukupuoli*</td>
			<td>Mies</td>
		</tr>
		<tr>
			<td>Äidinkieli*</td>
			<td>suomi</td>
		</tr>
		<tr>
			<td>Asuinmaa*</td>
			<td>Suomi</td>
		</tr>
		<tr>
			<td>VRK-osoite</td>
			<td>Koulukatu 1 A 11, 00001 Kaupunki (ei käytössä)</td>
		</tr>
		<tr>
			<td>Lähiosoite*</td>
			<td>Katuosoite 1A</td>
		</tr>
		<tr>
			<td>Postinumero ja -toimipaikka</td>
			<td>00100 Helsinki</td>
		</tr>
		<tr>
			<td>sähköpostiosoite</td>
			<td>kartsa@palvelu.com</td>
		</tr>
		<tr>
			<td>Puhelinnumero</td>
			<td>044 1234 567</td>
		</tr>
	</tbody>
</table>
	
	
	<hr/>
	<a href="#" class="button small float-right clear">Muokkaa</a>
	<h2>Koulutustausta</h2>
	
	<p>
	Haen ensisijaisesti seuraavalla tutkinnolla: <strong>Peruskoulun päättötodistus</strong>
	</p>
	<p>
	Tutkinnon opetuskieli: <strong>suomi</strong>
	</p>
	
	<hr/>
	<a href="#" class="button small float-right clear">Muokkaa</a>
	<h2>Hakutoiveet</h2>
	
	
<table class="" style="width:auto;">
	<tbody>
	
		<tr>
			<td rowspan="2">1. hakutoive</td>
			<td>Opetuspiste</td>
			<td>Ammatti-instituutti Iisakki, Parkano</td>
		</tr>
		<tr>
			<td>Koulutus</td>
			<td>Hotelli-, ravintola- ja catering-alan perustutkinto, pk</td>
		</tr>
		
		<tr>
			<td rowspan="2">2. hakutoive</td>
			<td>Opetuspiste</td>
			<td>Anjalankosken lukio, Inkeroinen</td>
		</tr>
		<tr>
			<td>Koulutus</td>
			<td>Lukio</td>
		</tr>
		
		<tr>
			<td rowspan="2">3. hakutoive</td>
			<td>Opetuspiste</td>
			<td>Etelä-Karjalan ammattiopisto, Tekniikan ala, Lappeenranta</td>
		</tr>
		<tr>
			<td>Koulutus</td>
			<td>Ympäristön suunnittelun ja rakentamisen koulutusohjelma, pk</td>
		</tr>
		
		<tr>
			<td rowspan="2">4. hakutoive</td>
			<td>Opetuspiste</td>
			<td>Helsingin Diakoniaopisto</td>
		</tr>
		<tr>
			<td>Koulutus</td>
			<td>Sosiaali- ja terveysalan perustutkinto sekä lukio, pk</td>
		</tr>
		
		<tr>
			<td rowspan="2">5. hakutoive</td>
			<td>Opetuspiste</td>
			<td>Helsinkin Diakoniaopisto</td>
		</tr>
		<tr>
			<td>Koulutus</td>
			<td>Sosiaali- ja terveysalan perustutkinto, pk</td>
		</tr>
		
	</tbody>
</table>
	

	<hr/>
	<a href="#" class="button small float-right clear">Muokkaa</a>
	<h2>Arvosanat</h2>
	
	<table class="virkailija-table-3">
		<head>
			<tr>
				<td>Oppiaine</td>
				<td>Yhteinen oppiainen</td>
				<td>Valinnaisaine</td>
			</tr>
		</head>
		<tbody>
			<tr>
				<td>Äidinkieli ja kirjallisuus</td>
				<td>8</td>
				<td></td>
			</tr>
			<tr>
				<td>A1-kieli: ranska</td>
				<td>5</td>
				<td></td>
			</tr>
			<tr>
				<td>B1-kieli: ruotsi</td>
				<td>7</td>
				<td>8</td>
			</tr>
			<tr>
				<td>B2-kieli: saksa (#)</td>
				<td>8 (#)</td>
				<td></td>
			</tr>
			<tr>
				<td>Matematiikka</td>
				<td>9 (#)</td>
				<td></td>
			</tr>
			<tr>
				<td>Biologia</td>
				<td>6</td>
				<td></td>
			</tr>
			<tr>
				<td>Maantieto</td>
				<td>7</td>
				<td></td>
			</tr>
			<tr>
				<td>Fysiikka</td>
				<td>8</td>
				<td></td>
			</tr>
			<tr>
				<td>Kemia</td>
				<td>7</td>
				<td>8</td>
			</tr>
			<tr>
				<td>Terveystieto</td>
				<td>8</td>
				<td></td>
			</tr>
			<tr>
				<td>Uskonto tai elämänkatsomustieto</td>
				<td>7</td>
				<td></td>
			</tr>
			<tr>
				<td>Historia</td>
				<td>6</td>
				<td></td>
			</tr>
			<tr>
				<td>Yhteiskuntaoppi</td>
				<td>7</td>
				<td></td>
			</tr>
			<tr>
				<td>Musiikki</td>
				<td>9</td>
				<td></td>
			</tr>
			<tr>
				<td>Kuvataide</td>
				<td>8</td>
				<td></td>
			</tr>
			<tr>
				<td>Käsityö</td>
				<td>7</td>
				<td></td>
			</tr>
			<tr>
				<td>Liikunta</td>
				<td>8</td>
				<td></td>
			</tr>
			<tr>
				<td>Kotitalous</td>
				<td>9</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</body>
	</table>
	
	(#) Olet lisännyt itse oppiaineen tai muokannut arvosanaa
	
	<hr/>
	<a href="#" class="button small float-right clear">Muokkaa</a>
	<h2>Kielitaito</h2>
	
	Mikä oli tutkintosi opetuskieli? <strong>suomi</strong>
	
	<hr/>
	<a href="#" class="button small float-right clear">Muokkaa</a>
	<h2>Työkokemus</h2>
	<p>
	Kuinka monta kuukautta sinulla on työkokemusta hakuajan päättymiseen mennessä?
	</p>
	<ul>
		<li>Työkokemus kuukausina: <strong>3</strong></li>
		<li>Työhön rinnastettava kokemus kuukausina: <strong>0</strong></li>
	</ul>
	
	<hr/>
	<a href="#" class="button small float-right clear">Muokkaa</a>
	<h2>Lupatiedot</h2>
	
	<div class="field-container-checkbox">
		<input type="checkbox" name="" id="lt1" value="" disabled />
		<label for="lt1">Minulle saa lähettää postia vapaista opsikelupaikoista ja muuta koulutusmarkkinointia. (luonnosteksti)</label>
	</div>
	<div class="field-container-checkbox">
		<input type="checkbox" name="" id="lt2" value="" disabled checked />
		<label for="lt2">Tietoni opiskeluvalinnan tuloksista saa julkaista internetissä. (luonnosteksti)</label>
	</div>
	<div class="field-container-checkbox">
		<input type="checkbox" name="" id="lt3" value="" disabled />
		<label for="lt3">Valintaa koskevat tiedot saa lähettää minulle sähköisesti. (luonnosteksti)</label>
	</div>
	<div class="field-container-checkbox">
		<input type="checkbox" name="" id="lt4" value="" disabled checked />
		<label for="lt4">Minulle saa lähettää tietoa opiskelijavalinnan etenemisestä ja tuloksista tekstiviestillä. (luonnosteksti)</label>
	</div>
	
	<hr/>
	<a href="#" class="button small float-right clear">Muokkaa</a>
	<h2>Syötettävät tiedot</h2>
	
	
	
	
<table class="key-value-table">
	<tbody>
	
	
		<tr>
			<th colspan="3" class="heading">Kielikokeet</th>
		</tr>
		<tr>
			<td>Yleisen kielikoe</td>
			<td>
				<select name="yleisen_kielikoe">
					<option>Taitotaso 1</option>
					<option>Taitotaso 2</option>
					<option selected="selected">Taitotaso 3</option>
					<option>Taitotaso 4</option>
					<option>Taitotaso 5</option>
					<option>Taitotaso 6</option>
				</select>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>Valtiohallinnon kielikokeet</td>
			<td>
				<select name="valtiohallinnon_kielikokeet">
					<option>Valitse</option>
					<option>vaihto</option>
					<option>ehto</option>
				</select>
			</td>
			<td></td>
		</tr>
		
		
		<tr>
			<th colspan="3" class="heading">Pääsykoepisteet</th>
		</tr>
		<tr>
			<td>Hakukohde 1</td>
			<td><input type="text" name="hakukohde_1" size="5"/></td>
			<td></td>
		</tr>
		<tr>
			<td>Hakukohde 2</td>
			<td><input type="text" name="hakukohde_2" size="5"/></td>
			<td></td>
		</tr>
		<tr>
			<td>Hakukohde 3</td>
			<td><input type="text" name="hakukohde_3" size="5"/></td>
			<td></td>
		</tr>
		<tr>
			<td>Hakukohde 4</td>
			<td><input type="text" name="hakukohde_4" size="5"/></td>
			<td></td>
		</tr>
		<tr>
			<td>Hakukohde 5</td>
			<td><input type="text" name="hakukohde_5" size="5"/></td>
			<td></td>
		</tr>
		
		
		<tr>
			<th colspan="3" class="heading">Virkailijan lisäämät avaimet ja arvot</th>
		</tr>
		<tr>
			<th class="label">Selite</th>
			<th class="label">Arvo</th>
			<th class="label"></th>
		</tr>
		
		<tr>
			<td><input type="text" name="key_1_name" /></td>
			<td><input type="text" name="key_1_value" size="8"/></td>
			<td><a href=""><a href="#" class="remove">Poista</a></td>
		</tr>
		
		<tr>
			<td colspan="3" style="text-align:left;"><a href="#" class="button blueplus">&#8302;</a> Lisää tieto</td>
		</tr>
		
		
	</tbody>
</table>
	
	</pane>
</tabs>