<div id="orgsearch" class="expand">
					<a href="#" class="expander">
						<span class="labelpos">
							<span class="label">
								Organisaatiohaku
							</span>
							<!--
							<span class="arrows">&gt;&gt;</span>
							<span class="labelpivot">
								labelpivot
								
								<span class="labelrotate">
									labelrotate
									<span class="label">
										Organisaatiohaku
										
									</span>
								</span>
							</span>
							<span class="arrows">&gt;&gt;</span>
							-->
						</span>
					</a>
					
					<div class="expanded-content" style="">
						
						<form class="orgsearchform" style="">
						
							<div class="field-search-containerbox">
								<input type="text" name="" class="text search" />
							</div>
							
							<div class="field-select-containerbox">
								<select>
									<option>Valitse organisaatiotyyppi</option>
								</select>
							</div>
							
							<div class="field-select-containerbox">
								<select>
									<option>Valitse oppilaitostyyppi</option>
								</select>
							</div>
							
							<div class="field-container-checkbox">
								<input type="checkbox" name="" id="osc1" value="" />
								<label for="osc1">Näytä myös lakkautetut</label>
							</div>
							<div class="field-container-checkbox">
								<input type="checkbox" name="" id="osc2" value="" />
								<label for="osc2">Näytä myös suunnitellut</label>
							</div>

						
							<button class="button primary small">Hae</button>
						
						</form>
						
						<ul class="orgmenu" style="height:194px;overflow:auto;">
							<li class="closed">
								<a href="#" class="category"><span class="folder">&#8203;</span>Rantalohjan lukio</a>
								<ul>
									<li><a href="#" data-tagset-id="organisation">Rantalohjan lukio</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="category"><span class="folder">&#8203;</span>Rantalohjan ammattiopisto</a>
								<ul>
									<li><a href="#" data-tagset-id="organisation">Terveyden ja hyvinvoinnin toimipiste</a></li>
									<li><a href="#" data-tagset-id="organisation">Autoalan toimipiste</a></li>
								</ul>
							</li>
						</ul>
						
						
						
					</div>
				</div>