<div id="orgsearch" class="expand">
					<a href="#" class="expander">
						<span class="labelpos">
							<span class="label">
								Organisaatiohaku
							</span>
						</span>
					</a>
					
					<div class="expanded-content" style="">
						
						<form class="orgsearchform" style="">
							<fieldset>
								<div class="field-search-containerbox">
									<input type="text" name="" class="text search" />
								</div>
								
								<div class="field-select-containerbox">
									<select>
										<option>Valitse organisaatiotyyppi</option>
									</select>
								</div>
								
								<div class="field-select-containerbox">
									<select>
										<option>Valitse oppilaitostyyppi</option>
									</select>
								</div>
								
								<div class="field-container-checkbox">
									<input type="checkbox" name="" id="osc1" value="" />
									<label for="osc1">Näytä myös lakkautetut</label>
								</div>
								<div class="field-container-checkbox">
									<input type="checkbox" name="" id="osc2" value="" />
									<label for="osc2">Näytä myös suunnitellut</label>
								</div>

							
								<button class="button small">Hae</button>
								<button class="button small float-right">Tyhjennä</button>
								<div class="clear"></div>
							</fieldset>
						</form>
						
						<div class="orgsearchlist">
							<ul class="treelist collapsible">
								<li>
									<span class="icon folder collapse open">&#8203;</span>
									<a href="#" class="label">Rantalohjan lukio</a>
									<ul class="branch">
										<li>
											<span class="icon file">&#8203;</span>
											<a href="#" class="label">Rantalohjan lukio</a>
										</li>
									</ul>
								</li>
								<li>
									<span class="icon folder collapse open">&#8203;</span>
									<a href="#" class="label">Rantalohjan ammattiopisto</a>
									<ul class="branch">
										<li>
											<span class="icon file">&#8203;</span>
											<a href="#" class="label">Terveyden ja hyvinvoinnin toimipiste</a>
										</li>
										<li>
											<span class="icon file">&#8203;</span>
											<a href="#" class="label">Autoalan toimipiste</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>