@import "functions";

/*** Display
************************************************/
.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.display-none {
    display: none;
}

/*** Position
************************************************/
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}




/*** Aligning
************************************************/
.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.vertical-align-middle {
    vertical-align: middle;
}


/*** Width
************************************************/

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.width-100 {
    width: 100%;
}


/*** Grids
************************************************/
$gutter: 0.625;
$grid-count: 16;
$grid-column-width: 100 / $grid-count;


@mixin grid($grid-span) {
    float: left;
    margin-right: percentage(($gutter) / 100);
    margin-left: percentage(($gutter) / 100);
    width: percentage((($grid-column-width * $grid-span) - ($gutter * 2)) / 100);
}

@mixin offset-right($span) {
    margin-right: percentage(($grid-column-width * $span) / 100);
}

@mixin offset-left($span) {
    margin-left: percentage(($grid-column-width * $span) / 100);
}

/* grid16 classses */
@for $i from 1 through 16 {
    .grid16-#{$i} { 
        @include grid($i); 
    }
}

/* offsets to left and right */
@for $i from 1 to 16 {

    .offset-left-#{$i} {
        @include offset-left($i); 
    }

    .offset-right-#{$i} {
        @include offset-right($i); 
    }

}


/*** Spacing
************************************************/
@mixin margin-horizontal($width) {
    margin-left: $width;
    margin-right: $width;
}

@mixin margin-vertical($height) {
    margin-top: $height;
    margin-bottom: $height;
}

/* margin AND padding classes for all directions */
@for $i from 1 to 6 {
    @each $direction in top, right, bottom, left {
        .margin-#{$direction}-#{$i} {
            margin-#{$direction}: $i * 0.5em;
        }

        .padding-#{$direction}-#{$i} {
            padding-#{$direction}: $i * 0.5em;
        }
    }
}


/*** Float
************************************************/
 .float-left {
    float: left;
}

 .float-right {
    float: right;
}

 .clear {
    clear: both;
}