@import "functions";

/*** Display
************************************************/
.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.display-none {
    display: none;
}

/*** Position
************************************************/
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

/*** Aligning
************************************************/
.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.vertical-align-middle {
    vertical-align: middle;
}


/*** Width
************************************************/

.width-25 {
    width: 25%;
}

.width-75 {
    width: 75%;
}

@for $i from 1 through 10 {
    .width-#{$i}0 {
        width: #{$i}0%;
    }
}

/*** Text
************************************************/

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/*** Background-color
************************************************/
$grey: #eee;
$light-grey: #f8f8f8;

.grey {
    background-color: $grey;
}

.light-grey {
    background-color: $light-grey;
}

/*** Float
************************************************/
 .float-left {
    float: left;
}

 .float-right {
    float: right;
}

 .clear {
    clear: both;
}


/*** Table
************************************************/

.white-space-nowrap {
    white-space: nowrap;
}

.white-space-normal {
    white-space: normal;
}


/*** List
************************************************/
.list-style-none {
    list-style-type: none;
    padding-left: 0;
}


/*** Grids
************************************************/
$gutter: 0.00625;
$grid-count: 16;
$grid-column-width: 100 / $grid-count;

@mixin grid($grid-span) {
    float: left;
    margin-right: percentage($gutter);
    margin-left: percentage($gutter);
    width: percentage(($grid-column-width * $grid-span) / 100) - percentage($gutter * 2);
}

@mixin offset-right($span) {
    margin-right: percentage(($grid-column-width * $span) / 100) + percentage($gutter);
}

@mixin offset-left($span) {
    margin-left: percentage(($grid-column-width * $span) / 100) + percentage($gutter);
}

/* grid16 classes */
@for $i from 1 through 16 {
    .grid16-#{$i} {
        @include grid($i);
    }
}

/* offsets to left and right */
@for $i from 1 to 16 {
    .offset-left-16-#{$i} {
        @include offset-left($i); 
    }
    .offset-right-16-#{$i} {
        @include offset-right($i); 
    }
}


/*** Margin and padding
************************************************/
@mixin margin($width) {
    margin: $width;
}

@mixin margin-horizontal($width) {
    margin-left: $width;
    margin-right: $width;
}

@mixin margin-vertical($height) {
    margin-top: $height;
    margin-bottom: $height;
}

@mixin padding($width) {
    padding: $width;
}

@mixin padding-horizontal($width) {
    padding-left: $width;
    padding-right: $width;
}

@mixin padding-vertical($height) {
    padding-top: $height;
    padding-bottom: $height;
}

@for $i from 1 through 10 {

    /* Vertical margins */
    .margin-vertical-#{$i} {
        @include margin-vertical($i);
    }

    /* Horizontal margins */
    .margin-horizontal-#{$i} {
        @include margin-horizontal($i);
    }

    /* Vertical paddings */
    .padding-vertical-#{$i} {
        @include padding-vertical($i);
    }

    /* Horizontal paddings */
    .padding-horizontal-#{$i} {
        @include padding-horizontal($i);
    }

    /* Margins for all directions separately  */
    @each $direction in top, right, bottom, left {
        .margin-#{$direction}-#{$i} {
            margin-#{$direction}: $i * 0.5em;
        }
    }

    /* Padding for all directions separately */
    @each $direction in top, right, bottom, left {
        .padding-#{$direction}-#{$i} {
            padding-#{$direction}: $i * 0.5em;
        }
    }
}




